@import "./_settings";
@import "~foundation-sites/scss/foundation";

@mixin backgroundNoise() {
	background: linear-gradient(
	to bottom,
	rgba(255, 255, 255, 0) 0%,
	rgba(255, 255, 255, 1) 10%,
	rgba(255, 255, 255, 1) 90%,
	rgba(255, 255, 255, 0) 100%
),
	url("../../images/noiseBg.png");
	background-position: center center;
	background-repeat: repeat;
}
@mixin backgroundNoiseOnlyBottom() {
	background: linear-gradient(
	to bottom,
	rgba(255, 255, 255, 1) 90%,
	rgba(255, 255, 255, 0) 100%
),
	url("../../images/noiseBg.png");
	background-position: center center;
	background-repeat: repeat;
}

@mixin closeButton {
	position: absolute;
	width: 20px;
	height: 20px;
	border: 5px solid transparent;
	border-radius: 50%;
	background: url("../../icons/closeIconWhite.svg") no-repeat 50% 50% $gray;
	background-size: contain;
	cursor: pointer;
}

@mixin yellowBadge() {
	color: $black;
	background-color: $yellow;
	font-size: $tiny-font-size;
	font-weight: bold;
	text-transform: capitalize;
	padding: 0 rem-calc(20);
	z-index: 2;

	&:after {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		background: $yellow;
		transform-origin: bottom left;
		transform: skew(-10deg, 0deg);
	}
}
