@font-face {
	font-family: "Proxima Nova Regular";
	src: url("../../fonts/ProximaNova-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Proxima Nova Regular";
	src: url("../../fonts/ProximaNova-BoldIt.woff") format("woff");
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: "Proxima Nova Regular";
	src: url("../../fonts/ProximaNova-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Proxima Nova Regular";
	src: url("../../fonts/ProximaNova-RegularIt.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "Proxima Nova Regular";
	src: url("../../fonts/ProximaNova-Semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Proxima Nova Black";
	src: url("../../fonts/ProximaNova-Black.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
