/* 1) Resets
   2) Radios
   3) Checkboxes
   4) Icons for the Accordion Service List
*/
html {
	scroll-behavior: smooth;
}

/* 1) Resets --------------------------------- */
input[type="checkbox"] {
	visibility: hidden;
	display: none;
}

address {
	font-style: normal;
}

blockquote {
	font-size: $cite-font-size;
}

sup {
	font-size: 60%;
	//top: 5px;
}

textarea:focus {
	outline: $outline auto 5px;
	box-shadow: none;
}

a {
	font-weight: 700;
}

select {
	height: 36px;
	background-image: url("../../icons/accordionArrow.svg");
	border-color: $border-gray-color-opacity;
	font-size: $font-size;
	color: $blue;
	font-weight: bold;

	&:focus {
		line-height: 1; //fixes bug with focus moving the text
	}
}
//IE show/hide password buttons
input::-ms-clear,
input::-ms-reveal {
	display: none;
}

#main > li {
	//li's that may appear inside templates. See Warranties Page
	list-style: none;
}

//li styles
ul.ul--hasBullets,
.learningCenterArticle__body ul {

	li {

		&:before {
			content: "•";
			color: $red;
			display: inline-block;
			width: 0.75em;
		}
	}
}

.list--pipe {

	li {
		display: inline-block;
	}

	li:not(:last-child) {
		padding-right: 15px;
		margin-right: 15px;
		border-right: 1px solid $border-gray-color-opacity;
	}
}

.learningCenterArticle ul {
	margin-bottom: rem-calc(16);
}

/* 2) Radios --------------------------------- */
input[type="radio"]:after {
	line-height: 1.5em;
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-top: -2px;
	margin-left: -2px;
	border: 1px solid rgba(189, 194, 199, 0.5);
	border-radius: 2px;
	background: $white;
	cursor: pointer;
}

input[type="radio"]:hover:after {
	border: 2px solid $status-green;
}

input[type="radio"]:focus:after,
input[type="text"]:focus {
	outline: $outline auto 5px;
}

input[type="radio"]:checked:after {
	background: url(../../icons/radioSelected.svg) no-repeat 0 0px $white;
	border: none;
	width: 20px;
	height: 20px;
}

/*Headers*/
h1,
h2,
h3,
h4,
h5,
h6 {

	&.header--large {
		text-transform: uppercase;
	}

	&.header--sectionHeader {
		font-size: 20px;

		@include breakpoint(small down) {
			font-size: 16px;
		}

		&Small {
			font-size: 16px;
		}
	}
}

header hr {
	margin: rem-calc(5) 0;
}

.title--tire,
.title--brakes,
.title--additional,
.title--seasonal,
.title--wheels,
.title--farm,
.title--allseason,
.title--allseason--black,
.title--performance,
.title--performance--black,
.title--traction,
.title--traction--black,
.title--winter,
.title--winter--black,
.title--allterrain,
.title--allterrain--black {
	position: relative;
	display: block;

	&:before {
		content: "";
		height: 24px;
		width: 24px;
		position: relative;
		left: 0;
		background-size: contain;
		background-repeat: no-repeat;
		top: 50%;
		margin-right: 8px;
		display: inline-block;
		vertical-align: middle;
	}
}

.title--allseason:before {
	background-image: url("../../icons/seasonalW.svg");
}

.title--allseason--black:before {
	background-image: url("../../icons/tiretype/All-Season-Black.svg");
	width: 18px;
	height: 18px;
}

.title--performance:before {
	background-image: url("../../icons/performance.svg");
}

.title--performance--black:before {
	background-image: url("../../icons/tiretype/Performance-Black.svg");
	width: 18px;
	height: 18px;
}

.title--traction:before {
	background-image: url("../../icons/traction.svg");
}

.title--traction--black:before {
	background-image: url("../../icons/tiretype/Traction-Black.svg");
	width: 18px;
	height: 18px;
}

.title--winter:before {
	background-image: url("../../icons/winter.svg");
}

.title--winter--black:before {
	background-image: url("../../icons/tiretype/Winter-Black.svg");
	width: 18px;
	height: 18px;
}

.title--allterrain:before {
	background-image: url("../../icons/allTerrain.svg");
}

.title--allterrain--black:before {
	background-image: url("../../icons/tiretype/All-Terrain-Black.svg");
	width: 18px;
	height: 18px;
}

.title--tire:before {
	background-image: url("../../icons/tires.svg");
}

.title--brakes:before {
	background-image: url("../../icons/brakes.svg");
}

.title--additional:before {
	background-image: url("../../icons/additionalService.svg");
}

.title--seasonal:before {
	background-image: url("../../icons/seasonal.svg");
}

.title--wheels:before {
	background-image: url("../../icons/wheels.svg");
}

.title--farm:before {
	background-image: url("../../icons/farm.svg");
}

/* 3) Checkbox
  <div className="checkboxContainer">
    <input type="checkbox" id="checkbox" value="Example checkbox" />
    <label for="checkbox" /> for the little checkbox box
  </div>
  <label for="checkbox">Example Checkbox</label>
----------------------------*/
.checkboxContainer {
	position: relative;
	height: 20px;
	display: inline-block;
	padding-right: 8px;
	vertical-align: middle;

	label,
	&__box {
		background: $white;
		border: 1px solid $border-gray-color-opacity;
		border-radius: 2px;
		width: 20px;
		height: 20px;
		padding: 0;
		margin: 0 !important;
		cursor: pointer;
		z-index: 1;

		&:hover {
			border: 2px solid $status-green;
		}
	}

	& + label {
		display: inline-block;
		vertical-align: middle;
	}

	input[type="checkbox"]:checked + label {
		background: url(../../icons/checkedBox.svg) no-repeat 0 0px $white;
		border: none;
	}

	input[type="checkbox"]:disabled + label {
		background: $light-gray;
		cursor: not-allowed;
		border-style: dashed;

		&:hover {
			border: 1px solid $border-gray-color-opacity;
		}
	}

	label:focus {
		outline: $outline auto 5px;
	}
}

/* Label with Accordion
Used on Store Details page
*/
.input--withAccordionArrow {

	&[type="checkbox"]:checked + label::after {
		//reverse arrow when open
		transform: rotate(180deg);
	}
}

.label--withAccordionArrow {

	&:after {
		//basic styles for blue up/down label arrow
		content: " ";
		background: url("../../icons/accordionArrow.svg") center center no-repeat
		transparent;
		float: right;
		position: relative;
		right: 0;
		top: 4px;
		display: inline-block;
		width: 1em;
		height: 1em;
		line-height: 3;
		text-align: center;
		-webkit-transition: all 0.35s;
		-o-transition: all 0.35s;
		transition: all 0.35s;
	}
}

/*
	Benefit styling. Currently used in product modal to show off a products benefits
*/
.benefit {
	margin-bottom: 30px;

	.initial__icon {
		margin-right: 20px;

		@include breakpoint(small down) {
			position: relative; //override default
			float: left;
		}
	}

	&-header {
		color: $black;
		font-family: $proxima-black;
	}
}

/*
	Global page loader overlay
*/
.loader {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.5);
	z-index: 10;

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -25px;
		margin-left: 25px;
		width: 50px;
		height: 50px;
		transform: scale(2);
		background: url(../../icons/loading.svg) no-repeat 50% 50% transparent;
		background-size: contain;
	}
}
