//top information section on my account pages
.personal-info-section {
	@include breakpoint(small down) {
		background: url("../../images/background-200px.png") repeat-x 0 0
		transparent;
		padding-top: rem-calc(25);
	}

	span.contact-info__heading {
		display: inline-block;
		font-weight: bold;
		margin-right: rem-calc(15);
		width: 80px;
		text-align: right;
		vertical-align: top;
	}

	span.contact-info__phonenumber {
		display: inline-block;
		margin-left: -4px;

		& ~ .contact-info__phonenumber {
			//select all phonenumbers, but the first one
			display: block;
			margin-left: 95px;
		}
	}

	.mini-address-location {
		//address wrapper
		display: inline-block;
	}

	.edit-address,
	.add-address {
		display: block;
		padding: 15px 0 25px 0px;
	}
}

/*
	Log-out dialog
	NOT BEM due to jQuery UI
*/

.logout-dialog {
	background: $white;

	a {
		width: 100px;

		&:first-of-type {
			margin-right: 15px;
		}
	}

	.ui-dialog-content {
		padding-bottom: 25px;
		padding-left: 70px;
	}
}

//Form within Account to handle changing of passwords/account settings.
#SettingsForm {
	@include breakpoint(small down) {
		background: url("../../images/background-200px.png") repeat-x 0 0
		transparent;
		padding-top: rem-calc(25);
	}

	.settings-password {
		margin-bottom: rem-calc(55);

		button {
			font-size: $tiny-font-size;
			width: auto;
		}
	}

	.settings-communications {

		&__header {
			display: block;
			font-weight: bold;
			margin-bottom: rem-calc(20);
		}

		& > div {
			//each of the 4 communication containers
			margin-bottom: rem-calc(30);

			&.maintenance > label {
				//label for the text alone
				margin-bottom: 20px;
				padding: 0;
			}
		}

		label {
			padding-left: 5px;
			font-weight: normal;
		}

		button {
			font-size: $tiny-font-size;
			margin-right: auto;
			width: auto;
		}
	}

	.checkboxWrapper:nth-child(3) {
		//2nd wrapper
		display: inline-block;
		margin-bottom: 10px;
	}

	.input-Text {
		display: inline-block;
		width: 75%;

		input,
		a {
			display: inline-block;
		}

		a {
			width: 50px;
		}

		input {
			width: auto;
			margin: 0 10px;
		}
	}
}
