/*
	Category landing pages (categorylanding.isml + categorylanding2.isml)
*/

//Store Wrapper (Mostly handles positioning of component)
.storeContainer {
	position: relative;

	.storeDetails {
		position: absolute;
		right: rem-calc(30);
		bottom: rem-calc(40);
		width: rem-calc(400);
		padding: rem-calc(30);
		background: $white;
		box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);

		@include breakpoint(small down) {
			position: relative;
			right: 0;
			bottom: 0;
			width: auto;
			box-shadow: none;
			padding-top: 0;

			address {
				display: flex;
				flex-direction: column;

				.changeCta {
					align-self: flex-end;
					bottom: 25px;
					position: relative;
				}

				.button {
					width: auto;
				}
			}
		}
	}
}

//Mobile navigation for sections of the page.
.jumpLinks {
	display: flex;
	align-items: stretch;
	list-style-type: none;
	@include xy-gutters($gutter-type: padding, $gutter-position: left right);
	margin-bottom: rem-calc(30);
	padding-top: rem-calc(10);
	padding-bottom: rem-calc(10);
	background-color: $white;
	border-bottom: 1px solid $light-gray;
	position: sticky;
	top: -1px;
	z-index: 19;
	align-items: center;
	justify-content: center;

	&__bar {
		position: absolute;
		visibility: hidden;
		opacity: 0.1;
		height: 4px;
		left: 0;
		width: 0;
		bottom: 0;
		background-color: $yellow;
		transition: all 0.3s ease-out;
	}

	&__item {
		//item inside jump link
		flex: 1;
		flex-grow: 0;

		a {
			display: block;
		}

		&.active ~ .jumpLinks__bar {
			opacity: 1;
			visibility: visible;
		}

		&:not(:last-child) {

			a {
				position: relative;
				padding: 0 rem-calc(12);
				text-align: center;
				font-size: $small-font-size;
				line-height: 16px;
				white-space: nowrap;

				&:after {
					content: "";
					position: absolute;
					top: 50%;
					right: 0;
					margin-top: -6px;
					height: 12px;
					width: 1px;
					background-color: rgba(189, 194, 199, 0.5);
				}
			}
		}

		&:nth-last-child(2) a:after {
			content: none;
		}
	}
}

.all-resources-content {

	.information-module {
		padding-top: 0;
	}

	.callout {
		height: 100%;

		h6 {
			font-size: $font-size;
			margin-bottom: rem-calc(5);
		}
	}
}

//Warranty modules, seen on category landing and other parts of the site
#alignment-warranty,
#brakes-warranty,
#shocks-struts-warranty,
#batteries-warranty {
	max-width: rem-calc($global-width);
	margin-left: auto;
	margin-right: auto;
}

//Dialog for the footer privacy, and also warranty button clicks
#privacyDialog,
#warrantyLanguageDialog {
	display: inline-block;
	padding: 10px 5px 20px;
	margin: 0 150px 0 80px;

	#multiLanguageDialogTitle {
		text-transform: capitalize;
	}

	@include breakpoint(small down) {
		margin: 0 50px 0 20px;
	}

	#warranty-english,
	#warranty-spanish {
		width: auto;
		margin-right: rem-calc(15);
	}
}

//view more links, that can appear if the category landing has products (like on batteries/shocks)
.view-more-product-link,
.view-more-products,
.view-more-link {
	margin: 0 auto;
	display: block;
}
