/*
	Compare page
*/
.compare {

	&__header,
	&__footer {
		margin: 35px 0;
	}

	&__table {
		margin: rem-calc(36) 0;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		position: relative;
		@include breakpoint(small down) {
			display: block;
		}

		//calculating width of the compare table columns
		@for $i from 1 through 4 {

			&.columnBase_#{$i} &__cell {
				width: percentage(1 / ($i + 1));
				//offsetting first "heading" by one column
				&:first-child {
					margin-left: percentage(1 / ($i + 1));
				}
				@include breakpoint(small down) {
					width: 100%;

					&:first-child {
						margin-left: 0;
					}
				}
			}
		}
		//applying flex order to table cells
		@for $i from 1 through 20 {

			.order_#{$i} {
				order: $i;
				@if $i % 2 == 0 {
					//use $i for calculating mod here than #{$i}
					background-color: $light-gray;
				}
			}
		}

		&__cell {
			flex-grow: 1;

			padding: 16px 30px;
			font-size: $small-font-size;

			@include breakpoint(small down) {
				padding: 10px 20px;
			}

			&__th {
				font-weight: bold;
				text-align: left;
				text-transform: capitalize;
				@include breakpoint(small down) {
					display: none;
				}
			}

			&:not(&__th) {
				text-align: center;
				vertical-align: middle;
				border-left: 1px solid rgba(189, 194, 199, 0.5);
				border-right: 1px solid rgba(189, 194, 199, 0.5);
				margin-left: -1px; //compensating for border(since there's no border collapse)

				&.compare__table__cell--last {
					border-bottom: 1px solid rgba(189, 194, 199, 0.5);
				}

				.money {
					font-size: 20px;
				}

				@include breakpoint(small down) {
					text-align: right;
					overflow: hidden; //makes sure that empty values with :before only do not collapse

					&:before {
						content: attr(data-label);
						margin-right: 20px;
						color: $black;
						float: left;
						font-weight: bold;
						text-transform: capitalize;
					}
				}
			}
		}

		&__head {
			position: relative;
			text-align: center;
			padding: 30px 30px 15px 30px;

			border: 1px solid rgba(189, 194, 199, 0.5);
			border-bottom: none;

			.product-badge {
				position: absolute;
				max-width: 70%;
				top: -5px;
				left: 0;
				@include yellowBadge;
			}
			//remove button
			&__remove {
				@include closeButton;
				right: 5px;
				top: 5px;
			}
			//product image
			&__image {
				width: 100px;
				height: 100px;
				overflow: hidden;
				margin: 0 auto 30px auto;

				img {
					height: 100px;
					max-width: 100%;
					width: auto;
				}
			}
			//product name
			&__name {
				font-weight: 900;
				line-height: 20px;

				a {
					color: $blue;
				}
			}

			@include breakpoint(small down) {
				display: flex;
				flex-direction: row-reverse;
				justify-content: space-between;

				&:before {
					display: none;
				}

				&:not(:first-child) {
					margin-top: 20px;
				}

				&__image {
					margin: 0 20px;
					width: 70px;
					height: 70px;
				}

				&__name {
					text-align: left;
				}
			}
		}
	}
}

/*Compare panel*/
//compare products module
.topBar__compare {
	border-top: 1px solid $border-gray-color-opacity;
	padding: rem-calc(10) rem-calc(30);
	background-color: $white;
	display: flex;
	align-items: stretch;

	&__header {
		width: 110px;
		margin-right: rem-calc(10);
		color: $black;

		&__count {
			margin-left: 5px;
		}
	}

	&__list {
		display: flex;
		align-items: stretch;

		li {
			width: 140px;
			min-height: 72px;
			border-radius: 2px;
			padding: rem-calc(10);
			border: 1px solid $border-gray-color-opacity;
			position: relative;
			word-break: break-word;

			.compare-item-remove {
				display: none;
				@include closeButton;
				top: -10px;
				right: -10px;
			}

			.compare-item-content {
				display: flex;
				align-items: center;
				font-size: $small-font-size;
				font-weight: bold;
				color: $blue;
				line-height: 1;
				overflow: hidden;
				max-height: 100%;
				text-overflow: ellipsis;

				img {
					height: 50px;
					max-height: 100%;
					width: auto;
					margin-right: 10px;
					margin-bottom: auto;
				}
			}

			.compare-item-content + .compare-item-remove {
				display: block;
			}

			&:not(.active) {
				background-color: $light-gray;
				border-style: dashed;
			}
		}

		li + li {
			margin-left: rem-calc(10);
		}
	}

	&__actions {
		margin-left: auto;
		width: 220px;
		padding-left: rem-calc(10);
		margin-bottom: 0;
		display: flex;
		align-items: center;
		align-self: center;
	}
	@include breakpoint(small down) {
		position: fixed;
		display: block;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: $white;
		box-shadow: $box-shadow;
		z-index: 5;

		&__header {
			width: 100%;
			margin-right: 0;
			position: relative;
			cursor: pointer;

			&__count {
				background: $black;
				border-radius: 2px;
				color: $white;
				float: right;
				font-size: $tiny-font-size;
				text-align: center;
				position: relative;
				right: 35px;
				height: 20px;
				width: 20px;
				transform: skew(170deg);
			}

			&:after {
				background: url("../../icons/accordionArrow.svg") center center
				no-repeat transparent;
				content: "";
				display: block;
				height: 10px;
				position: absolute;
				right: 10px;
				top: 50%;
				margin-top: -5px;
				width: 10px;
			}
		}

		&--open {

			.topBar__compare__list {
				display: flex;
			}

			.topBar__compare__header:after {
				transform: rotate(180deg);
			}
		}

		&__list {
			flex-wrap: wrap;
			justify-content: space-between;
			margin-bottom: 10px;
			display: none;

			//set flex items spacing
			li.compare-item {
				width: calc(50% - 10px);
				margin: 10px 0;
			}
		}

		&__actions {
			width: 100%;
			justify-content: space-around;
		}
	}
}
