/*
	Contact Us Page custom CSS
*/
.contact-us {
	margin-top: rem-calc(30);
	padding-bottom: rem-calc(80);

	.section-header {
		margin-bottom: rem-calc(30);
	}

	&__landing--top {

		.storeSearch__map {
			height: 268px;

			@include breakpoint(small down) {
				height: 140px;
				margin-bottom: rem-calc(20);
			}
		}
	}

	&__landing--bottom {
		//wrapper for headquarters
		padding-top: rem-calc(30);
		background: url("../../images/background-200px.png") repeat-x 0 0
		transparent;

		p {
			margin-bottom: 0;

			&:first-of-type {
				color: $black;
				font-family: $proxima-black;
			}
		}

		a {
			display: block;
			margin-top: rem-calc(10);
		}
	}
}
