/* 
	Components used for the Credit Page
*/

.credit-quote-and-manager-wrapper {
	@include breakpoint(small down) {
		border: 1px solid $border-gray-color-opacity;
		margin: 20px 0 !important;
		padding: 0 20px;
	}
}

//basic styles for quote blocks
.credit-quote {
	color: $red;
	border-top: 4px solid;
	border-bottom: 4px solid;
	font-size: 18px;
	padding-left: 78px;
	line-height: 40px;
	text-transform: uppercase;
	padding: 15px 6px;
	position: relative;
	margin: rem-calc(50) 0;
	align-self: flex-start;

	@include breakpoint(small down) {
		margin-bottom: rem-calc(25);
	}

	h3 {
		color: $red;
	}

	p {
		font-family: $proxima-black;
		color: $black;
	}

	&:before {
		content: " ";
		background: url(../../icons/quoteRedWhite.svg) no-repeat 50% 50% transparent;
		width: 66px;
		height: 43px;
		position: absolute;
		top: -36px;
		left: -7px;
	}
}

//Styles for the manager and his/hersinformation
.credit-manager {
	position: relative;
	height: 100%;
	width: 100%;

	@include breakpoint(small down) {
		height: 100px;
		position: relative;
		right: -30px;
	}

	img {
		max-height: 250px;
		right: 0;
		bottom: 0;
		height: 100%;
		z-index: 2;
		position: absolute;
	}

	figcaption {
		display: flex;
		flex-direction: column;
		text-align: right;
		position: absolute;
		width: calc(100% - 35px);
		top: 60px; //10px plus 50 from credit quote
		left: 35px; //same as before content width below
		padding-top: 20px;
		padding-bottom: 20px;
		padding-right: 57%;
		background: #fdc203;
		z-index: 1;
		line-height: 12px;

		@include breakpoint(small down) {
			top: 14px;
			padding-right: 155px;
		}

		&:before {
			content: "";
			position: absolute;
			left: -45px;
			top: 0;
			bottom: 0;
			background: $yellow;
			width: 35px;
			transform: skew(-10deg) translateX(35px);
		}

		span {
			color: $black;
			font-family: $proxima-black;
			font-size: $tiny-font-size;
			font-weight: bold;

			&:first-of-type {
				font-size: $font-size;
				margin-bottom: rem-calc(10);
			}
		}
	}
}

//Table on bottom of Credit Page
.credit-table {
	background: url("../../images/background-200px.png") repeat-x 0 0 transparent;
	padding-bottom: rem-calc(80);

	h5 {
		padding: rem-calc(50) 0 rem-calc(30) 0;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;

		tr:first-child {
			background: $light-gray;
		}

		th {
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		td {
			border-bottom: 1px solid $border-gray-color-opacity;

			&:before {
				left: calc(50% - 8px);
				top: calc(50% - 8px);
			}
		}

		td:not(:first-child) {
			padding: 30px;
		}
	}
}
