/*
	Wrapper used for our error page templates: notfound.isml/generalerror.isml..etc
*/
.errorPage {
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-bottom: rem-calc(60);
	margin-top: rem-calc(60);

	img {
		//logo and image of LS employee/garage
		&.circleImg {
			border-radius: 50%;
		}
		width: 226px;
		margin-bottom: rem-calc(40);
	}

	.button {
		//go home button
		width: auto;

		&:nth-child(2) {
			margin-left: rem-calc(20);
		}
	}

	@include breakpoint(small down) {
		padding-bottom: rem-calc(50);

		h1 {
			font-size: 42px;
			line-height: 46px;
		}

		h5 {
			font-size: 24px;
			line-height: 28px;
		}
	}
}
