/*
	Hompage Styling
*/

//Specific banner styling for homepage banner. The rest of .banner is in Basics.scss
.banner--homepage {

	.banner__top__information,
	.banner__information--bottom {
		max-width: 565px;
		@include breakpoint(small down) {
			max-width: 100%;
		}
	}

	.banner__top__information {
		//overrides for the hero on the homepge
		display: table;
		margin-bottom: 80px;
		bottom: 0;
		margin-top: auto;

		@include breakpoint(small down) {
			margin-bottom: 10px;
			top: auto;

			h2 {
				width: calc(
				100% - #{$mobileBannerLeftMargin}
			); //for the 20px created in Basics.scss
			}
		}
	}

	.banner__information--bottom {
		@include breakpoint(medium up) {
			width: 600px;
			bottom: 6%;
			left: 3%;
			top: auto;
		}

		& > div {
			//render divs for button components
			display: inline-block;
			width: 49%;
			margin: 0;

			@include breakpoint(small down) {
				width: 100%;
			}

			&:first-of-type {
				margin-right: 1%;
			}

			.button {
				width: 100%;

				@include breakpoint(small down) {
					width: 100%;
					margin: 15px auto;
				}
			}
		}

		.make-an-appointment-cta,
		.shop-for-tires-cta {
			position: relative; //for overlays to work
		}
		@include breakpoint(small down) {
			display: flex;
			flex-direction: column;
			width: 100%;

			h2 {
				height: 150px;
			}

			.make-an-appointment-cta,
			.shop-for-tires-cta {
				margin: 0px 20px;
			}
		}
	}
}

.homepage-featured-articles {
	padding-bottom: rem-calc(60);

	@include breakpoint(small down) {
		padding-bottom: rem-calc(0);

		figure.article {
			padding-bottom: rem-calc(25);
		}
	}
}

.information-module {
	margin-left: rem-calc(30);
	margin-right: rem-calc(30);
	max-width: $global-width;
	margin: 0 auto;

	@include breakpoint(medium up) {
		padding-top: rem-calc(60);
	}
	@include breakpoint(small down) {
		margin: 0;
	}

	.grid-padding-x > .cell:first-of-type {
		//don't need the padding on the left side of the first cell
		padding-left: 0;
	}

	&--withBorder {
		border-bottom: 1px solid $border-gray-color-opacity;
	}

	@include breakpoint(small down) {
		background: url("../../images/background-200px.png") repeat-x 0 0
		transparent;
		padding-bottom: 0;
		border: none;

		.grid-padding-x > .cell:last-of-type {
			padding: rem-calc(30);

			ul {
				border-bottom: 1px solid $border-gray-color-opacity;
				padding-bottom: 30px;
				margin: 0;
			}
		}

		h4 {
			display: inline-block;
			width: 70%;
			vertical-align: middle;
			margin: 0;
		}

		img {
			height: 60px;
			display: inline-block;
			margin-right: 15px;
			margin-bottom: 10px;
			vertical-align: middle;
		}
	}

	&--noBorders:first-of-type,
	&--noBorders:last-of-type {
		border: none; //border of whole module ond desktop

		.grid-padding-x > .cell:last-of-type ul {
			border: none; //border on UL in mobile view
		}
	}

	&--smallImage {

		.information-module__imageContainer {
			display: flex;
			justify-content: center;
			align-self: flex-start;

			img {
				max-height: 200px;
			}
		}
	}

	&--checkMarks {
		padding: 0 0 rem-calc(40) 0;

		&:last-of-type {
			padding-top: 0;
		}

		h6 {
			font-size: $font-size;
		}

		p,
		a {
			width: auto;
		}

		ul {
			display: flex;
			margin: 0;
			flex-wrap: wrap;

			li {
				flex: 25%;
				flex-grow: 0;
				font-size: $tiny-font-size;
			}
		}

		img {
			float: left;
			margin-right: 10px;
			width: 25px;
		}

		.grid-x {
			justify-content: space-between;
		}

		.checkMarksText {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding-top: 0 !important;
		}
	}

	&--lessTopPadding:last-of-type,
	&--lessTopPadding:first-of-type {
		padding-top: rem-calc(50);
		padding-bottom: rem-calc(50);
	}
}

.information-module--lastChild,
.home-slots .information-module {
	@include breakpoint(medium up) {
		padding-bottom: rem-calc(60);
	}

	@include breakpoint(small down) {
		padding-top: 0;
		background: none;

		.grid-padding-x > .cell:first-of-type {
			padding: 0 30px 30px 30px;
		}
	}
}

//List of mobile categories, to navigate to sections of the site.
.categories {
	margin-bottom: 20px;
	padding: rem-calc(30);

	&__list {
		@include xy-grid;
		justify-content: space-between;
	}

	&__thumbnail {
		@include xy-cell(2);

		@include breakpoint(small down) {
			@include xy-cell(6);
			@include xy-gutters($gutters: 20, $gutter-position: left right bottom);
		}

		background: $white;
		box-shadow: 0 2px 4px 0 rgba(151, 151, 151, 0.5);
		border-radius: 2px;
		padding: rem-calc(10);
		break-word: break-all;

		a {
			width: 100%;
			height: 100%;
			font-family: $proxima-black;
			display: block;
			color: $blue;
			font-size: 11px;
			line-height: 18px;
			font-weight: 900;
			text-align: center;
			text-transform: uppercase;
			position: relative;
			word-wrap: break-word;

			&::before {
				content: "";
				display: block;
				width: 32px;
				height: 32px;
				margin: 0 auto 5px auto;
				background: url(../../icons/more.svg) no-repeat 50% 50% transparent;
			}

			&.warranty {
				font-size: 10px;
				text-align: left;
				word-spacing: 500px; //forces the anchor text to always be two lines
				line-height: 16px;
				word-wrap: break-word;

				&:before {
					margin: 0 0 5px 0;
				}

				&:after {
					background: url("../../images/pdf.png") no-repeat 0 0 transparent;
					content: "";
					background-size: cover;
					height: 20px;
					width: 20px;
					position: absolute;
					right: 0;
					top: 0;
				}
			}
		}

		&--brakes a::before {
			background-image: url(../../icons/brakes.svg);
		}

		&--alignment a::before {
			background-image: url(../../icons/alignment.svg);
		}

		&--batteries a::before {
			background-image: url(../../icons/batteries.svg);
		}

		&--shocks-struts a::before {
			background-image: url(../../icons/shocks.svg);
		}
	}

	&.categories--gray {
		background: $light-gray;
	}

	&.categories--belowHero {
		margin-top: rem-calc(-40);

		&__list {
			max-width: 960px;
			margin: 0 auto;
		}

		@include breakpoint(small down) {
			margin-top: rem-calc(-30);
		}
	}
}

/*Seasonal promotion (Sale Page Link)*/
.promotion {
	position: relative;
	margin-bottom: 60px;
	padding-top: 20px;

	& > picture {
		position: absolute;
		width: 635px;
		z-index: -1;
		top: 0;
		left: 0;
		bottom: 35px;

		img {
			max-height: 100%;
		}

		@include breakpoint(small down) {
			width: 100%;
		}
	}

	&__content {
		margin-left: 400px;
		padding: 40px 115px 40px 45px;
		position: relative;

		@include breakpoint(small down) {
			margin-left: 90px;
			padding: 20px;
		}

		a {
			font-family: $proxima;
			font-weight: bold;
			font-size: 16px;

			&:after {
				content: "";
				position: relative;
				top: 3px;
				display: inline-block;
				width: 17px;
				height: 17px;
				margin-left: 5px;
				transform: rotate(180deg);
				background: url("../../icons/chevronWhite.svg") no-repeat center center
				transparent;
			}

			&:hover {
				text-decoration: underline;
			}
		}

		&__divider {
			border-bottom: 4px solid $white;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&--tag {
				position: relative;
				margin-left: 50px;

				&:before {
					content: "";
					position: absolute;
					bottom: -20px;
					left: -50px;
					background: url("../../icons/saleTagWhite.svg") no-repeat center
					center transparent;
					background-size: contain;
					width: 40px;
					height: 40px;
					@include breakpoint(small down) {
						width: 20px;
						height: 20px;
						bottom: -10px;
						left: -30px;
					}
				}
			}
		}

		&--green {
			background-color: #4b712d;
			z-index: 2;

			h3,
			a {
				color: $white;
			}

			&:before {
				content: "";
				position: absolute;
				top: 0;
				right: 100%;
				bottom: 0;
				width: 45px;
				height: 100%;
				background-color: #4b712d;
				transform-origin: bottom left;
				transform: skew(-10deg, 0);
				z-index: -1;
			}
		}
	}
}
