/*
	Our Story Page
*/

//Wrapper for Icon + Description of Our Story Information
.icon-and-information {
	display: flex;
	max-width: 890px;
	margin: 0 auto;
	justify-content: space-around;
	padding-bottom: rem-calc(30);

	&--first {
		padding-top: 40px;
	}
	@include breakpoint(small down) {
		display: block;
		padding: 20px;
	}

	& > div {
		//image section
		width: 17%;

		@include breakpoint(small down) {
			width: 80px;
			float: left;
			margin-right: 10px;
		}

		img {
			display: block;
			margin: 0 auto;
		}
	}

	& > section {
		//information section
		width: 62%;

		h2 {
			font-size: 36px;
		}

		@include breakpoint(small down) {
			width: auto;

			h2 {
				font-size: 24px;
			}
		}

		p {
			font-size: $large-font-size;
		}

		button,
		a {
			width: auto;
			font-size: $small-font-size;
			@include breakpoint(small down) {
				width: 100%;
			}
		}
	}
}

//Custom Quote to show the founder and his quote
.our-founder-quote {
	background: $light-gray;
	position: relative;
	font-family: $proxima-black;
	margin: 100px 0 0 0;
	display: flex;
	justify-content: flex-end;
	padding-left: 77px;

	@include breakpoint(medium up) {

		&:before {
			content: "";
			position: absolute;
			left: -67px;
			top: 0;
			bottom: 0;
			background: #fff;
			width: 70px;
			-webkit-transform: skew(-10deg) translateX(45px);
			transform: skew(-10deg) translateX(45px);
			height: 100%;
		}
	}

	.image-wrapper {
		margin-top: -80px;
		align-self: flex-end;
	}

	/* TEMPORARY SOLUTION TO HANDLE TWO LINES IN QUOTE */
	@include breakpoint(986px down) {
		height: 256px;

		.image-wrapper {
			margin-top: -24px;
		}
	}
	@include breakpoint(small down) {

		.image-wrapper {
			background: $light-gray;
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			height: 160px;
			margin: 0;
		}
	}

	@include breakpoint(small down) {
		display: block;
		background: none;
		height: auto;
		margin: 0;
		padding-left: 0;
	}

	.quote {
		//overwrites other quote styles
		border-top: 4px solid;
		border-bottom: 4px solid;
		color: #ed1c24;
		font-size: 36px;
		padding-left: 78px;
		line-height: 40px;
		text-transform: uppercase;
		padding: 15px 6px;
		position: relative;
		margin-top: 50px;
		align-self: flex-start;

		&:before {
			content: " ";
			background: url("../../icons/ourFounderQuote.svg") 0 0 no-repeat
			transparent;
			width: 66px;
			height: 43px;
			position: absolute;
			top: -36px;
			left: -7px;
		}

		@include breakpoint(small down) {
			position: relative;
			top: auto;
			right: auto;
			margin: 0 20px;
			margin-bottom: 35px;

			&:before {
				//different background on mobile
				background: url("../../icons/ourFounderQuoteWhite.svg") 0 0 no-repeat
				transparent;
			}
		}
	}

	.caption {
		//"Our Founder, Les Schwab" styles
		background: $yellow;
		color: $black;
		text-align: center;
		font-size: 20px;
		padding: 10px;
		position: absolute;
		bottom: 0;
		right: 220px;
		width: 300px;
		z-index: 1;

		@include breakpoint(small down) {
			right: auto;
			order: 1;
			padding-right: 180px;
			text-align: right;
			padding-top: 10px;
			padding-bottom: 10px;
			font-size: 16px;
		}

		&:before {
			content: "";
			position: absolute;
			left: -60px;
			top: 0;
			bottom: 0;
			background: $yellow;
			width: 20px;
			transform: skew(-10deg) translateX(45px);
			height: 100%; //makes sure the skew is always big enough for the image
		}
	}

	img {
		width: 228px;
		display: block;
		position: relative;
		z-index: 2;
		max-width: none;

		@include breakpoint(small down) {
			position: relative;
			top: auto;
			width: 173px;
			order: 2;
		}
	}
}
