/* 
	Products + related CSS
*/
.product__brief,
.product__price,
.product__store {
	margin-bottom: rem-calc(30);
}

.product__brief {

	hgroup > *:not(:last-child) {
		margin-bottom: 0;
	}

	.footer__social--container {
		margin: 0;

		.social-links li {
			margin-left: 0;
			margin-right: 0;
		}
	}

	.product-name {
		font-size: 36px;

		small {
			display: block;
		}
	}
	@include breakpoint(small down) {
		margin-top: rem-calc(30);

		.product-name {
			font-size: 36px;
		}
	}
}

.product__price {
	font-size: $small-font-size;

	hr {
		margin: rem-calc(10) 0;
	}

	&__sales {
		line-height: rem-calc(40);
	}

	&__calculated {
		line-height: rem-calc(28);
		display: flex;
		align-items: center;
	}
}
//Product image gallery
.productImages {
	display: flex;
	align-items: stretch;
	margin-bottom: 50px;
	position: relative;

	&__badge {
		position: absolute;
		top: 0;
		left: 0;

		@include yellowBadge;
		z-index: 3;
	}

	&__primary {
		order: 2;
		position: relative;
		width: 100%;

		.main-image {
			display: block;
			position: relative;
			overflow: hidden;
			text-align: center;
			height: 100%;
			width: 100%;
			position: relative;
			cursor: zoom-in;

			&.loading {
				background: url("../../icons/loading.svg") no-repeat 50% 50% transparent;
			}

			.zoom-image {
				position: absolute;
				z-index: 2;
				max-width: none;
				max-height: none;
				opacity: 0;
				transition: opacity 0.5s;
				@include breakpoint(medium down) {
					display: none;
				}
			}
			@include breakpoint(large up) {

				&:hover .zoom-image {
					opacity: 1;
				}

				&:hover .primary-image {
					opacity: 0;
				}
			}

			.primary-image {
				max-height: 100%;
				background-color: $white;
				transition: opacity 0.5s;
				display: block;
				width: 100%;
				z-index: 1;
				@include breakpoint(small down) {
					display: inline-block;
					width: auto;
				}
			}
		}
		@include breakpoint(large up) {

			&:after {
				content: "ZOOM";
				display: block;
				position: relative;
				float: right;
				color: $blue;
				padding-left: 24px;
				margin-top: 5px;
				font-weight: 900;
				background: url("../../icons/zoom.svg") no-repeat 0 50% transparent;
				background-size: contain;
				cursor: pointer;
			}
		}

		.carousel__button {
			display: none;
			cursor: pointer;
		}
	}

	&__thumbnails {
		order: 1;
		width: rem-calc(62);
		margin-right: rem-calc(20);

		li:not(:last-child) {
			margin-bottom: rem-calc(14);
		}

		.thumb {
			overflow: hidden;

			a {
				@include breakpoint(medium up) {
					height: 100%;
					width: 100%;
					display: block;
				}
				text-align: center;
				vertical-align: middle;
			}

			@include breakpoint(medium up) {
				height: 62px;
				width: 62px;
				border-radius: 2px;
				background-color: $light-gray;

				&.selected {
					border: 1px solid rgba(189, 194, 199, 0.5);
					border-bottom: 4px solid $yellow;
				}
			}
		}
	}
	@include breakpoint(small down) {
		flex-direction: column-reverse;
		margin-bottom: 30px;

		&__badge:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 100%;
			left: -9999px;
			background-color: $yellow;
		}

		.zoom-image {
			display: none;
		}

		&__primary {
			width: 200px;
			height: 200px;
			margin: 0 auto;
			position: static;

			&:after {
				display: none;
			}
		}

		.carousel__button {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 100%;
			background: url("../../icons/arrowBlueRight.svg") no-repeat center center
			transparent;
			cursor: pointer;

			&--prev {
				transform: scaleX(-1);
			}

			&--next {
				left: auto;
				right: 0;
			}
		}

		&__thumbnails {
			width: 100%;
			margin: 0 auto;

			ul {
				display: flex;
				justify-content: center;
				margin: 15px 0 0 0;

				li {
					margin: 0;

					& + li {
						margin-left: 20px;
					}
				}
			}

			.thumbnail-link {
				width: 10px;
				height: 10px;
				display: inline-block;
				border-radius: 50%;
				background-color: $border-color;
			}

			.selected.thumb .thumbnail-link {
				background-color: $blue;
			}

			.productthumbnail {
				display: none;
			}
		}
	}
}

.productImageDisclaimer {
	margin-bottom: 40px;

	@include breakpoint(small down) {
		text-align: center;
	}
}

.productInfo {
	@include backgroundNoise;
	padding: rem-calc(40) 0;
	margin: rem-calc(40) 0;

	.productAttributes__group {

		& dl {
			display: flex;
			flex-wrap: wrap;

			> div {
				display: flex;
				flex-direction: row;
				width: 50%;
			}
		}

		dt,
		dd {
			display: inline-block;
			line-height: 30px;
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		dt {
			margin-right: 10px;
			margin-bottom: 0;
		}
	}

	&__carRendering {
		text-align: center;
		overflow: hidden;
		width: 632px;
		max-width: 100%;
		margin: 0 auto;
		margin-top: rem-calc(50);
	}
}

.installedPrice {

	table {
		table-layout: fixed;
		color: $gray;
		border-collapse: collapse;
		@include breakpoint(small down) {
			font-size: $small-font-size;
			line-height: 20px;

			tbody td:first-child:before,
			tbody td:last-child:before {
				display: none;
			}
		}

		td,
		th {
			vertical-align: bottom;
		}

		thead th {
			text-align: right;
			font-weight: normal;
			text-transform: uppercase;
			padding-bottom: rem-calc(20);

			&:first-child {
				width: 66%;
				font-family: $proxima-black;
				text-transform: capitalize;
				text-align: left;
				font-weight: 900;
				font-size: 36px;
				color: $black;
				@include breakpoint(small down) {
					width: auto;
					font-size: 30px;
					line-height: 34px;
				}
			}
		}

		tfoot {
			background: $light-gray;

			& td:first-child:before {
				content: "";
				z-index: -1;
				position: absolute;
				top: 0;
				bottom: 0;
				left: -9999px;
				right: -9999px;
				background: $light-gray;

				@include breakpoint(small down) {
					left: 0;
					right: 0;
					content: none; //remove extra mobile bars on mobile
				}
			}

			td {
				padding: rem-calc(14) 0;
				font-weight: bold;
				position: relative;

				&:not(:first-child) {
					text-align: right;
				}
			}
		}

		tbody td {
			padding-bottom: rem-calc(10);
			overflow: hidden;

			&:not(:first-child) {
				text-align: right;
			}

			span {
				background: $white;
			}

			&:before {
				float: left;
				width: 0;
				white-space: nowrap;
				content: ". . . . . . . . . . . . . . . . . . . . "
				". . . . . . . . . . . . . . . . . . . . "
				". . . . . . . . . . . . . . . . . . . . "
				". . . . . . . . . . . . . . . . . . . . "
				". . . . . . . . . . . . . . . . . . . . "
				". . . . . . . . . . . . . . . . . . . . ";
			}
		}

		caption {
			text-align: left;
			padding-top: rem-calc(20);
			font-size: $tiny-font-size;
			padding-right: 10%;
		}
	}
}

.productDisclaimer {
	font-size: $tiny-font-size;
	margin-bottom: rem-calc(50);

	&.salesPage {
		margin-top: rem-calc(30);
	}
}

.salesPageCalloutsContainer .grid-container:first-of-type .information-module {
	padding-top: 0;
}

.ourPromise {
	@include backgroundNoiseOnlyBottom;

	&__container {
		position: relative;
	}

	&__badge {
		@include yellowBadge;
		position: relative;
		display: inline-block;
		margin-bottom: rem-calc(10);
	}

	&__manager {
		position: relative;
		right: 20%;
		max-height: 100%;
		float: right;

		@include breakpoint(small down) {
			position: relative;
			right: auto;
			float: none;
			margin: 0 auto;
			display: block;
		}
	}
}

.vehicleRender {
	width: 100%;
	overflow: hidden;

	img {
		width: 100%;
		height: auto;
		max-height: 100%;
	}
}
