/*
	Registration Pages
	These will be documented when the pages are live again, to be sure the comments are correct.
*/

.account-login {

	.grid-x {
		justify-content: center;
	}

	.cell {

		.button {
			font-size: $tiny-font-size;
		}

		&:first-of-type {
			//left column
			border-right: 1px solid $border-gray-color-opacity;
			@include xy-gutters(180, padding, right, false);

			@include breakpoint(small down) {
				border: none;
				padding: 0;
				margin-bottom: 40px;
			}
		}

		&:last-of-type {
			//right column
			@include xy-gutters(180, padding, left, false);

			@include breakpoint(small down) {
				padding: 0;
			}
		}

		.error-form {
			margin-bottom: rem-calc(15);
		}
	}
}

.section-header {
	margin-bottom: rem-calc(15);
	border-bottom: 1px solid $border-gray-color-opacity;
	display: flex;
	justify-content: space-between;

	h6 {
		font-size: 20px;
		text-transform: uppercase;

		@include breakpoint(small down) {
			font-size: 16px;
		}
	}

	.edit {
		font-size: 16px;
		display: block;
		width: 20px;
		height: 20px;
		background: url("../../icons/pencil.svg") 0 0 no-repeat transparent;
	}
}

/*password-reset-message*/
.password-reset-message {
	border: 1px solid $status-green;
	border-radius: 2px;
	background: rgba(55, 152, 17, 0.1);
	padding: rem-calc(8) rem-calc(30);
	color: $black;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: rem-calc(30);

	p {
		margin: 0;
		line-height: 16px;
		position: relative;

		&:before {
			content: " ";
			background: url("../../icons/greenCheckMark.svg") 0 0 no-repeat
			transparent;
			height: 12px;
			width: 14px;
			position: absolute;
			top: 50%;
			margin-top: -6px;
			left: -21px;
		}
	}
}

.login-failed-message {
	border: 1px solid $error-red;
	border-radius: 2px;
	background: rgba(220, 0, 0, 0.05);
	padding: rem-calc(8) rem-calc(30);
	color: $black;
	font-size: 12px;
	line-height: 16px;
	position: relative;
	font-weight: bold;
	margin-bottom: rem-calc(30);

	&:before {
		content: " ";
		background: url("../../icons/errorSymbol.svg") 0 0 no-repeat transparent;
		height: 16px;
		width: 16px;
		position: absolute;
		top: 50%;
		margin-top: -8px;
		left: 8px;
	}
}
//forgot password screen
.forgot-password {

	.button {
		margin-top: rem-calc(30);
	}
	@include breakpoint(small down) {

		h3 {
			font-size: 24px;
		}

		.button {
			width: 100%;
		}
	}
}
//create account screen
.social-login-section {

	button {
		display: inline-block;
		width: 48%;

		&:last-of-type {
			float: right;
		}
		@include breakpoint(small down) {

			&:last-of-type {
				float: none;
			}
		}
	}
}

.create-account {

	.password-section,
	.name-section {

		.form-row {
			width: 95%;
			@include breakpoint(small down) {
				width: 100%;
			}
		}

		> div:last-of-type .form-row {
			float: right;
		}
	}

	.password-section {

		.form-password-hint {
			width: 210%;
			@include breakpoint(small down) {
				width: 100%;
			}
		}
	}
	@include breakpoint(small down) {

		h3 {
			font-size: 24px;
		}

		.form-password-hint {
			margin-bottom: rem-calc(15);
		}

		button {
			width: 100%;
		}
	}
}

span[class^="show-password"] {
	color: $dark-red;
	cursor: pointer;
	font-weight: 600;
	font-size: $tiny-font-size;
	position: absolute;
	top: 8px;
	right: 10px;
	user-select: none;

	&:before {
		content: "";
		display: inline-block;
		border: 1px solid $dark-red;
		width: 10px;
		height: 10px;
		margin-right: 5px;
		position: relative;
		top: 1px;
	}

	&.show-password__shown:before {
		content: " ";
		border: none;
		background: url("../../icons/whiteCheckMarkRedBG.svg") 0 0 no-repeat
		transparent;
	}
}

/* Password Hint */
.form-password-hint {
	display: block;
	background: #f2f3f4;
	padding: 10px 15px;
	margin-bottom: rem-calc(20);

	ul {
		display: flex;
		justify-content: space-between;
		list-style: none;
		margin: 0;

		@include breakpoint(small down) {
			flex-direction: column;
		}
	}

	li {
		padding-left: 1em;
		text-indent: -0.7em;

		&.tick {
			//class added through JS if the hint is approved
			color: $status-green;
			font-weight: bold;
			padding-left: 0px;
			text-indent: 0px;
			list-style-position: inside;
			list-style-image: url("../../icons/greenCheckMark.svg");

			&:before {
				content: " ";
			}
		}

		&:before {
			content: "• ";
			color: $red; /* or whatever color you prefer */
			position: relative;
			right: 5px;
		}
	}
}
