/*
	Search results and PDP pages breadcrumbs
*/

//Bread Crumbs, can be seen on SEO Pages
.breadcrumb {
	margin: rem-calc(15) rem-calc(30);

	ul {
		@include breadcrumbs-container;

		li {
			display: flex;
			align-items: stretch;

			span.breadcrumb-element {
				font-weight: bold;
			}

			&:not(:last-child):after {
				display: inline-block;
				width: 13px;
				background: url("../../icons/breadcrumb.svg") no-repeat 50% 50%
				transparent;
				background-size: contain;
			}
		}
	}
}

.search {
	//Main search content area
	&__content {
		display: flex;
		align-items: stretch;
		padding-top: rem-calc(30);
		position: relative;
		background: $white;

		&__body {
			width: 100%;
		}
	}

	&__tab {
		display: block;
		width: 100%;

		&--inactive {
			display: none;
		}
	}
}

.view-more-products-placeholder {
	width: 100%;
}

.search__results__summary {
	background: $light-gray;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: rem-calc(30);
	font-weight: bold;
	font-size: $small-font-size;
}

.searchResults {

	&__store {
		margin-bottom: rem-calc(30);
	}
}

/*Filter bar on search results page*/
.topBar {
	//margin-bottom: rem-calc(30);
	border-top: 1px solid $border-gray-color-opacity;
	border-bottom: 1px solid $border-gray-color-opacity;
	position: relative;
	top: 0;
	padding-top: 0;
	background-color: $white;

	&--sticky {
		position: fixed;
		padding-top: 60px;
		top: -60px;
		left: 0;
		width: 100%;
		z-index: 20;
		box-shadow: $box-shadow;
		transition: padding 0.5s;

		.topBar__compare {
			box-shadow: 0 9px 11px -10px rgba(0, 0, 0, 0.25);
		}
	}

	&__tabs {
		padding: rem-calc(16) rem-calc(30);

		.button-group--switch {
			margin-bottom: 0;
		}
	}

	&__filtersidebar {
		position: absolute;
		left: 0;
		//bottom:0;
		top: 100%;
		background: $light-gray;
		padding: rem-calc(32) rem-calc(26);
		transition: all 0.5s;
		overflow-y: auto;
		overflow-x: hidden;
		width: 0;

		width: 0;
		z-index: 4;
		visibility: hidden;

		&.open {
			//display: block;
			//width: 340px;
			visibility: visible;
			//widescreen bg extension
			&:before {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				right: 100%;
				margin-right: 20px;
				z-index: -1;
				left: -1000em;
				background: $light-gray;
			}
		}
		//hide primary filters from panel on non-mobile
		&__primaryfilters {
			display: none;
		}
	}

	/*wrapper for filters and applied filters*/
	&__grid {
		display: flex;
		align-items: stretch;
		padding: 0 rem-calc(30);
	}
	//Other filters toggle
	&__otherfilters {
		padding: 15px;
		border-right: 1px solid $border-gray-color-opacity;
		font-size: $small-font-size;
		color: $blue;
		font-weight: bold;
		padding-left: 28px;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: -8px;
			width: 16px;
			height: 16px;
			background: url("../../icons/filter.svg") no-repeat 50% 50% transparent;
			background-size: contain;
		}

		&.open {
			background-color: $light-gray;
			color: $black;

			&:before {
				background: url("../../icons/closeIcon.svg") no-repeat 50% 50%
				transparent;
				background-size: contain;
				width: 13px;
				height: 13px;
			}
			//widescreen bg hack - might be temp
			&:after {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				right: 100%;
				left: -1000em;
				background: $light-gray;
				z-index: 1;
			}
		}
	}
	//Main section of the filter bar
	&__main {
		padding: 15px;
		display: flex;
		flex-direction: column;
		align-content: stretch;
		flex: 1;
		//Primary filters(refinements)
		&__filters {
			display: flex;
			align-items: flex-start;
			//Sort option styling - legacy classes
			.sort-by {
				margin-left: auto;

				label {
					display: inline;
					padding-right: 10px;
					@include breakpoint(small down) {
						display: none;
					}
				}

				#grid-sort-header {
					min-width: 150px;
					max-width: 200px;
					margin-bottom: 0;
					width: auto;
				}
			}

			&__primaryfilters {
				display: flex;
			}

			&__otherfilters {
				display: none;
			}
		}
		//applied refinements with clear buttons
		&__selection {
			display: none;
			align-items: stretch;

			&--open {
				display: flex;
			}

			&__current {

				li {
					display: inline-block;
					margin-top: rem-calc(10);
					background-color: $light-gray;
					border-radius: 2px;
					padding: 5px 8px;
					padding-left: 36px;
					color: $gray;
					font-size: $tiny-font-size;
					position: relative;

					& + li {
						margin-left: rem-calc(10);
					}

					.relax-refinement {
						@include closeButton;
						left: 8px;
						top: 50%;
						margin-top: -10px;
						transition: all 0.5s;

						&:hover {
							transform: scale(1.1);
						}
					}
				}
			}

			.topBar__relaxall {
				align-self: center;
				margin-left: auto;
				font-size: $small-font-size;
			}
		}
	}
	@include breakpoint(small down) {

		&__otherfilters {
			display: none;
		}

		&__filtersidebar {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $white;
			z-index: 30;
			display: none;
			width: 100%;

			&.open {
				display: block;
			}

			&__primaryfilters {
				display: block;
			}
		}

		&__grid {
			display: block;
		}

		&__main__filters {
			justify-content: space-between;

			&__primaryfilters {
				display: none;
			}

			&__otherfilters {
				flex: 1;
				text-align: left;
				display: block;
				border-radius: 2px;
				border: 1px solid $border-gray-color-opacity;
				color: $blue;
				font-size: $small-font-size;
				font-weight: bold;
				line-height: 20px;
				padding: 8px 12px;
				padding-right: 40px;
				position: relative;
				cursor: pointer;

				&:after {
					background: url("../../icons/accordionArrow.svg") center center
					no-repeat transparent;
					content: "";
					display: block;
					height: 10px;
					position: absolute;
					right: 10px;
					top: 50%;
					margin-top: -5px;
					width: 10px;
				}
			}

			.sort-by {
				margin-left: 10px;
			}
		}
	}
}

.search-result-items,
.view-more-products-placeholder {
	margin-bottom: rem-calc(30);
}

/*No hits search results page*/
.noHits {
	padding-top: rem-calc(30);

	&__help li:not(:last-child) {
		margin-bottom: 10px;
	}
}
