/*
	Store Locator page
*/

//Basics of the maps
.storeSearch__map {
	width: 100%;
	height: 600px;

	&::before {
		content: "";
		box-shadow: inset 0 2px 16px 0 rgba(0, 0, 0, 0.2);
		position: absolute;
		z-index: 2;
		top: 0;
		right: -20px;
		left: 0;
		bottom: 0;
		pointer-events: none;
	}

	.gm-style-iw + div img {
		display: none;
	}

	&__flyout {
		color: $black;
		font-weight: bold;
		display: block;
		font-family: $proxima-black;
		background: url("../../icons/arrowGray.svg") no-repeat 0 0 transparent;
		background-position: right;
		padding-right: 20px;
	}
}

//Wrapper for the Store Locator page
.storeSearch__wrapper {
	//desktop styles
	display: flex;
	height: 600px;

	.storeSearch__resultsSection {
		//List of Stores
		width: 50%;
		position: relative;
		top: 90px;

		&::before {
			content: "";
			background: linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 1) 100%
		);
			position: absolute;
			z-index: 2;
			top: 90%;
			right: 0;
			left: 0;
			bottom: 0;
			pointer-events: none;
		}

		@include breakpoint(large up) {
			height: 510px;
		}

		.storeList {
			max-height: 510px;
			overflow-y: scroll;
			position: relative;
		}
	}

	.storeSearch__mapSection {
		//Map Section
		width: 50%;

		.storeSearch__form {
			position: absolute;
			left: 0;
			background: url("../../images/background-200px.png") repeat-x 0 0;
			width: 50%;
		}
	}

	//tablet and below styles
	@include breakpoint(medium down) {
		flex-direction: column;
		height: auto;

		.storeSearch__resultsSection {
			width: 100%;
			top: auto;
			order: 2;
		}

		.storeSearch__mapSection {
			width: 100%;
			order: 1;

			.storeSearch {
				display: flex;
				flex-direction: column;

				.storeSearch__form {
					position: relative;
					width: 100%;
					order: 2;
				}

				.storeSearch__map {
					position: relative;
					overflow: hidden;
					order: 1;
					height: 300px;
				}
			}
		}
	}
	//mobile styles
	@include breakpoint(small down) {
		//.storeSearch__resultsSection {}

		.storeSearch__mapSection {
			//width: 100%;
			//order: 1;

			.storeSearch {
				//display: flex;
				//flex-direction: column;

				.storeSearch__form {
					//position: relative;
					//width: 100%;
					order: 1;
				}

				.storeSearch__map {
					//position: relative;
					//overflow: hidden;
					order: 2;
					height: 180px;
				}
			}
		}
	}
}

/*
	Footer styles, uses footer as base and overwrites with this class.
*/
.footer--findByState {
	padding: rem-calc(40) rem-calc(30);

	.footer__container__item {
		//only one item here, so full width and custom css
		display: flex;
		flex-direction: row;
		width: 100%;
		flex-wrap: wrap;

		&__header,
		h5 {
			width: 100%;
			margin-bottom: rem-calc(25);

			h1 {
				font-size: 24px;
			}
		}

		a {
			width: 200px;
			margin-bottom: rem-calc(25);
		}

		&__section {
			margin: 50px 0;
			padding: 50px 0;
			border-top: 1px solid $border-gray-color-opacity;
			border-bottom: 1px solid $border-gray-color-opacity;
			width: 100%;
		}
	}
}
