/*
	Accordion SCSS file. This styles the Accordions throughout the site. 
	An example would be the "other filters" on the /tires/tire search page. 
	Or FAQ's on the /bill-pay page
*/

//Main accordion class, will go on <ul> element that holds all the accordions.
.accordion {
	list-style-type: none;
	//$background: $accordion-background;
	margin: 0;
	font-family: $proxima-black;
	font-weight: bold;
	font-size: $global-font-size;
}

/*
	Class for accordion itself. This can be used on the LI of the accordion UL, or by itself 
	on a FAQ. This example can be seen on /bill-pay page.

	Standalone example: 
	<section class="accordion__category accordion__category--faq type">
   		<input type="checkbox" id="accordion__category__toggle__stop"> <label for="accordion__category__toggle__stop">How do I stop recurring payments?</label> 
   		<ul class="accordion__category__options">
      		<p>To cancel a recurring payment, you can login and click un-enroll at the bottom of your screen.</p>
   		</ul>
	</section>
*/
.accordion__category {
	transition: all 0.5s ease-in-out;
	position: relative;

	//class used for FAQ styling
	&.accordion__category--faq {

		ul {
			margin: -1px 0 0 0;
		}

		> label {
			text-transform: none;
			font-weight: bold;
			margin: 0;
			line-height: 24px;
			padding-right: rem-calc(20);
		}
	}

	//Accordion itself, used to trigger the accordion open and close.
	& > label {
		//the header for the accordion section
		display: block;
		position: relative;

		padding: rem-calc(20);
		text-transform: uppercase;

		width: 100%;
		margin: 10px 0px;
		padding: 5px 10px;

		text-align: left;

		color: $blue;
		border: 1px solid rgba(189, 194, 199, 0.5);
		border-radius: 2px;
		background-color: $white;
		font-size: $small-font-size;
		z-index: 20;

		&:before {
			//default state, no open or hover
			pointer-events: none;
			background: url("../../icons/accordionArrow.svg") center center no-repeat
			transparent;
			content: "";
			display: block;
			height: 3em;
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -1.5em;
			transition: all 0.35s;
			width: 3em;
		}
	}

	//UL of elements that will be shown/hidden within the accordion
	&__options {
		display: none;
		background: $white;
		padding: rem-calc(20);
	}

	//controls the opening and closing __options
	& > input[type="checkbox"]:checked ~ label:before {
		transform: rotate(180deg);
	}

	//controls the opening and closing __options
	& > input[type="checkbox"]:checked ~ &__options {
		display: block;
	}

	ul {
		border: 1px solid rgba(189, 194, 199, 0.5);
		border-radius: 2px;
		margin: -11px 0 0 0;
		padding: 10px;
	}
}

/*
	This is a tooltip, normally a <span> tag that is a child of the accordion's label. Example: 

	<label for="accordion__category__toggle__warranty">Warranty Mileage 
         <span class="accordion__category__tooltip" data-tooltip="Set the range for the mileage coverage you want."></span>
    </label>
*/
.accordion__category__tooltip {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("../../icons/info.svg") no-repeat center center transparent;
	background-size: contain;
	margin: 0 10px;
	cursor: pointer;
	position: relative;
	z-index: 2;
	top: 5px;

	&:before,
	&:after {
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
		bottom: 100%;
		transition: all 0.5s;
	}

	/* Position tooltip above the element */
	&:before {
		position: absolute;
		left: 50%;
		margin-bottom: 5px;
		margin-left: -80px;
		padding: 15px;
		width: 260px;
		border-radius: 2px;
		background-color: $white;
		color: $black;
		box-shadow: $box-shadow;
		content: attr(data-tooltip);
		text-align: left;
		font-size: $small-font-size;
		text-transform: none;
		font-family: $proxima;
	}

	/* Triangle hack to make tooltip look like a speech bubble */
	&:after {
		position: absolute;
		left: 50%;
		margin-left: -5px;
		width: 0;
		border-top: 5px solid $white;
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;
		content: " ";
		font-size: 0;
		line-height: 0;
	}

	/* Show tooltip content on hover */
	&:hover:before,
	&:hover:after {
		visibility: visible;
		opacity: 1;
		bottom: 150%;
	}
}

/*  LI element that is within the .accordion__category__options */
.accordion__category__item {
	list-style-type: none;

	& + .accordion__category__item {
		margin-top: rem-calc(15);
	}

	.unselectable {
		color: $gray;
		cursor: not-allowed;
		font-size: normal;
	}
}

.accordionMargin {
	margin: rem-calc(20) 0;
}
