//namespacing to avoid conflicts with core application styling
.container {
	position: relative;

	.errorContainer {
		padding: 20px;
	}

	.loading:before {
		position: fixed;
		z-index: 100;

		width: 100%;
		height: 100%;

		content: "";

		background-color: #f2f3f4;
	}

	.loading:after {
		position: fixed;
		z-index: 101;
		top: 50%;
		left: 50%;

		width: 80px;
		height: 80px;
		margin: 100px auto;
		margin-top: -40px;
		margin-left: -40px;

		content: "";
		background-image: url("../../icons/loading.svg");
	}

	label {
		padding: $label-padding;

		@include breakpoint(medium down) {
			padding: $label-padding-mobile;
		}
	}

	@keyframes sk-rotateplane {

		0% {
			transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		}

		50% {
			transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		}

		100% {
			transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		}
	}

	//Header.css
	.head {
		align-items: center;
		display: flex;
		justify-content: center;
		height: 75px;
		box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
	}

	.heading {
		height: 100px;
		display: flex;
		align-items: center;
		padding: 30px;

		h1 {
			width: 100%;
			max-width: $global-width;
			margin: 0 auto;
		}

		@include breakpoint(small only) {
			padding: 0px 20px;
			height: 60px;
		}
	}
	//Accordion.css
	.accordion {
		list-style-type: none;
		$background: $accordion-background;
		margin: 0;
		font-family: $proxima-black;
		font-weight: bold;
		font-size: $global-font-size;
	}

	.accordionCategory {
		transition: all 0.5s ease-in-out;

		& > a {
			//the header for the accordion section
			display: block;

			width: 100%;
			margin: 10px 0px;
			padding: 20px 20px 20px 70px;

			text-align: left;
			text-transform: uppercase;

			color: $accordion-item-color;
			border: 1px solid rgba(189, 194, 199, 0.5);
			border-radius: 2px;
			background-color: $white;

			span {
				//little icon to show how many items were selcted
				background: $black;
				border-radius: 2px;
				color: $white;
				float: right;
				font-size: $tiny-font-size;
				text-align: center;
				position: relative;
				right: 35px;
				height: 20px;
				width: 20px;
				-webkit-transform: skew(170deg);
				-moz-transform: skew(170deg);
				-o-transform: skew(170deg);
			}
		}

		&:before {
			//default state, no open or hover
			content: " ";
			background-image: url("../../icons/accordionArrow.svg");
			position: relative;
			float: right;
			width: 9px;
			height: 6px;
			top: 30px;
			right: 26px;
			pointer-events: none;
		}

		&:hover:not(.open) {
			//the hover state for when it is not open
			&:before {
				background-image: url("../../icons/accordionHover.svg");
				right: 24px;
				top: 30px;
				width: 12px;
				height: 8px;
			}

			& > a {
				background-color: $light-gray;
				cursor: pointer;
				color: $blue;
				padding-left: 80px;
				background-position: 30px 15px;
				transition: all 0.25s linear;
			}
		}

		&.open {
			//how it looks when it is open
			& > a {
				background-color: $light-gray;
				color: $blue;
			}

			&:before {
				background-image: url("../../icons/accordionOpened.svg");
				right: 26px;
				top: 28px;
				width: 9px;
				height: 6px;
			}
		}

		&:hover {
			//the hover state for when it is not open
			&:before {
				background-image: url("../../icons/accordionOpenedHover.svg");
				right: 25px;
				top: 27px;
				width: 11px;
				height: 8px;
			}

			& > a {
				cursor: pointer;
				color: $blue;
				padding-left: 80px;
				background-position: 30px 15px;
			}
		}

		& > a:focus {
			color: $blue;
		}

		ul {
			border: 1px solid rgba(189, 194, 199, 0.5);
			border-radius: 2px;
			margin: -11px 0 0 0;
			padding: 10px;
		}
	}

	.categoryItem {
		list-style-type: none;

		.categoryInputs {
			height: 50px;
			display: flex;
			align-items: center;
			margin-bottom: 2px;
			margin-left: 12px;
		}

		label {
			display: flex;
			margin: 0 12px !important; //TODO: find a correct work around
			width: 100%;
			align-items: center;
			cursor: pointer;
		}

		.description {
			box-shadow: $box-shadow;
			font-family: $proxima;
			font-size: $tiny-font-size;
			font-weight: normal;
			padding: 10px;
			position: relative;
			line-height: 18px;
			top: -7px;
		}

		.icon {
			display: inline-block;
			width: 18px;
			height: 18px;
			position: relative;
			white-space: nowrap;
			left: 10px;
		}

		.infoIcon {
			background: url("../../icons/info.svg") 0 0 no-repeat transparent;
		}

		.closeIcon {
			background: url("../../icons/closeIconWithArrow.svg") 0 0 no-repeat
			transparent;
			width: 59px;
			height: 29px;
			position: relative;
			left: -10px;
			top: 5px;
			display: block;
			z-index: 10;
		}
	}
	//Address.css
	.topAddress {
		display: block;
		font-family: $proxima-black;
		color: $black;
		font-weight: bold;
	}
	//Button.css
	/*
	  media points on all components
	  use map for the props/class names
	*/
	.button {
		@include button;
		background-image: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.23) 0%,
		rgba(0, 0, 0, 0) 100%,
		rgba(0, 0, 0, 0) 200%
	);
		border: none;
		text-transform: uppercase;
		min-width: 140px;
		position: relative;
		bottom: 0;

		&:hover:not(.disabledButton) {
			box-shadow: $box-shadow; /* Button: */
			background: $dark-red;
			background-image: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.22) 0%,
			rgba(0, 0, 0, 0) 100%,
			rgba(0, 0, 0, 0) 100%
		);
			bottom: 2px;
			transition: all 0.25s linear;
		}
	}

	.tiny {
		font-size: map-get($button-sizes, tiny);
	}

	.small {
		font-size: map-get($button-sizes, small);
	}

	.large {
		font-size: map-get($button-sizes, large);
	}

	.grayButton {
		@include button-style($white, $white, $blue, 0%);
		background-image: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.1) 0%,
		rgba(0, 0, 0, 0) 100%,
		rgba(0, 0, 0, 0) 100%
	);
		border-color: $border-gray-color; //backup if below doesn't work.
		border-color: rgba(189, 194, 199, 0.5);

		&:hover:not(.disabledButton) {
			background: $white;
			background-image: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.1) 0%,
			rgba(0, 0, 0, 0) 100%,
			rgba(0, 0, 0, 0) 100%
		); //overriding default $button-background-hover
		}
	}

	.flexButton {
		@include button-expand();
		width: 100%; //overwrite rule from button-expand()
	}

	.disabledButton {
		@include button-hollow();
		@include button-style(
			$white,
			scale-color($white, $lightness: -15%),
			$blue,
			-20%
		);
		background-image: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.1) 0%,
		rgba(0, 0, 0, 0) 100%,
		rgba(0, 0, 0, 0) 100%
	);
		color: $border-gray-color;

		&:hover {
			color: $border-gray-color;
			cursor: default;
		}
	}

	//Calendar.css
	.calendar {
		width: 100%;
	}

	.header {
		padding: 16px 0;
		color: $blue;
		font-weight: 700;
		display: flex;
		justify-content: space-between;

		span {
			font-family: $proxima-black;
			font-size: $global-font-size;
		}

		.previous {
			float: left;
			color: $blue;
			width: 10px;
			height: 22px;
			margin: 0 20px;
			font-size: 20px;
		}

		.next {
			float: right;
			color: $blue;
			width: 10px;
			height: 22px;
			margin: 0 20px;
			font-size: 20px;
		}

		.disabledMonth {
			color: $white;
			cursor: auto;
			width: 10px;
			height: 22px;
			margin: 0 20px;
		}
	}

	.weekNames {
		padding: 6px 0px;
		text-transform: uppercase;
		background-color: $light-gray;
		font-size: $small-font-size;

		.day {
			color: $gray;
			font-weight: normal;
			height: 22px;
			font-size: $small-font-size;
			line-height: 22px;
		}
	}

	.week {

		.day {

			&:hover:not(.selectedDay):not(.pastDay) {
				cursor: pointer;
				color: $blue;

				&:before {
					content: " ";
					background-color: $white;
					border: 2px solid $blue;
					height: 40px;
					display: block;
					width: 40px;
					position: absolute;
					z-index: -1;
					border-radius: 50%;
					left: 50%;
					top: 5px;
					margin-left: -19px;
				}
			}
		}
	}

	.day {
		display: inline-block;
		color: $blue;
		width: 14%;
		text-align: center;
		font-weight: 900;
		line-height: 52px;
		height: 52px;
		position: relative;

		&:focus {
			color: $blue;
		}
	}

	a.day {
		font-family: $proxima-black; //selectable day
		font-size: $xl-font-size;
	}

	span.day {
		font-size: $global-font-size;
	}

	.today {
		font-style: italic;
	}

	.pastDay {
		color: $gray;
		font-weight: normal;
	}

	.selectedDay {
		color: $white;
		font-weight: bold;

		&:before {
			content: " ";
			background-color: $blue;
			height: 42px;
			display: block;
			width: 42px;
			position: absolute;
			z-index: -1;
			border-radius: 50%;
			left: 50%;
			top: 5px;
			margin-left: -21px;
		}

		&.today {

			&:before {
				margin-left: -19px;
			}
		}

		&:hover {
			color: $white;
		}

		&:focus {
			color: $white;
		}
	}
	//ConfirmationView.css
	.bold {
		font-weight: bold;
	}

	.reactWrapper {
		width: 100%;
	}

	.section {
		padding-bottom: rem-calc(40);
		width: 100%;

		span {
			display: block;

			&.inline {
				display: inline;
			}
		}

		.spacing {
			padding-bottom: rem-calc(20);
		}
	}

	.topBanner {
		position: relative;
		width: 100%;

		.topBannerImage {
			width: 100vw;
			object-fit: cover;
			object-position: top;
			max-height: 400px;
		}

		.infoTopBanner {
			position: absolute;
			color: $white;
			font-size: $xl-font-size;
			top: 0;
			left: 3%;
			top: 15%;

			@include breakpoint(xl up) {
				width: map-get($breakpoints, xl);
				left: calc(50% - 670px);
			}

			.checkMark {
				width: 50px;
				margin-bottom: 20px;
			}

			h1 {
				color: $white;
				font-size: 62px;
				text-transform: uppercase;
				margin-bottom: 15px;
			}

			p {
				margin: 0;
			}
		}
	}

	.topBannerMobile {
		position: relative;
		color: $white;
		width: 100%;
		background: url(../../images/confirmationImage@1x.png) no-repeat 77% 0%
		$white;
		background-size: cover;
		height: 260px;

		.infoTopBannerMobile {
			position: absolute;
			bottom: 0px;
			left: 7%;

			.checkMark {
				width: 30px;
				margin-bottom: 10px;
			}

			h1 {
				color: $white;
				font-size: 36px;
				line-height: 40px;
				text-transform: uppercase;
				margin-bottom: 15px;
				width: 60%;
			}
		}
	}

	.mobileConfirmation {
		padding: 15px 20px 0px 20px;
		margin-bottom: -20px;

		p {
			margin: 0;
		}
	}

	.servicesList {
		padding-bottom: rem-calc(10);

		span {
			margin-bottom: rem-calc(20);
		}
	}

	.spanSpacing {
		margin-bottom: rem-calc(20);
	}
	//Contact.css
	.sectionHeader {
		border-bottom: 1px solid $border-color;
		padding-bottom: 20px;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	.mobileSectionHeader {
		border-bottom: 1px solid $border-color;
		padding-bottom: 10px;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	.errorSpan {
		color: $red;
	}

	.contactSubHeader {
		margin-bottom: rem-calc(15);
		font-size: map-get($button-sizes, small);
	}

	.contactLabel {
		font-family: $proxima;
		font-weight: bold;
		font-size: $global-font-size;
		padding: 4px 0px;

		+ input {

			&.isInvalid {
				color: $error-red;
				border: 2px solid $error-red;
			}
		}

		@include breakpoint(small down) {
			padding: $label-padding-mobile;
		}
	}

	.buttonRow {
		margin-top: rem-calc(40);
		width: 66.66%;
		display: flex;
		justify-content: space-between;
		align-content: center;

		button {

			&:first-of-type {
				width: 10%;
			}

			&:last-of-type {
				width: 37.5%;
			}
		}

		@include breakpoint(small down) {
			width: 100%;

			button {

				&:first-of-type {
					width: 33%;
					margin-right: 14px;
				}

				&:last-of-type {
					width: 66%;
				}
			}
		}

		button {
			margin: 0;
		}
	}
	//DateTime.css
	.dateViewHeader {
		margin-bottom: rem-calc(50);
	}

	.wrapper {
		@include xy-grid-container;
		justify-content: center;
		padding-top: rem-calc(20);
		padding-bottom: rem-calc(40);

		@include breakpoint(medium up) {
			padding-top: rem-calc(50);
			padding-bottom: rem-calc(50);
		}

		.grid {
			@include xy-grid;
			padding-bottom: rem-calc(30);

			.leftCell {
				@include xy-cell(6.5 of 12, $gutters: 50);
				position: relative;

				@include breakpoint(medium) {

					&:first-of-type {
						margin-left: 0;
						margin-right: 50px;
					}

					&:nth-of-type(2) {
						margin-right: 0;
						margin-left: 50px;
					}
				}
				@include breakpoint(small down) {
					@include xy-cell(12, $gutters: 0);
					margin: 0;
				}
			}

			.rightCell {
				@include xy-cell(5.5 of 12, $gutters: 50);

				@include breakpoint(medium) {

					&:first-of-type {
						margin-left: 0;
						margin-right: 50px;
					}

					&:nth-of-type(2) {
						margin-right: 0;
						margin-left: 45px;
					}
				}

				@include breakpoint(small down) {
					@include xy-cell(12, $gutters: 0);

					margin-top: rem-calc(40);
				}
			}
		}
	}

	.buttonRow {
		margin-top: rem-calc(40);
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-content: center;

		button {
			margin: 0;

			&:first-of-type {
				width: 10%;
			}

			&:last-of-type {
				width: 25%;
			}

			@include breakpoint(small down) {

				&:first-of-type {
					width: 33%;
					margin-right: 14px;
				}

				&:last-of-type {
					width: 66%;
				}
			}
		}
	}

	.calendarIcon {
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		width: 32px;
		height: 32px;
		background-image: url("../../icons/calendar.svg");

		&:hover {
			background-image: url("../../icons/calendarDarker.svg");
		}
	}

	.errorSpan {
		display: block;
		margin-top: 20px;
		color: $red;
	}
	//DialogCalendar.css
	.dialogCalendarNav {
		display: flex;
		justify-content: space-between;
		padding: 15px 20px;
		border-bottom: 1px solid rgba(189, 194, 199, 0.5);

		a {
			font-family: $proxima-black;
		}
	}

	.dialogSelectButton {
		margin: 20px 5%;
		width: 90%;
	}
	//Dropdown.css
	.dropdown {
		background: #ffffff;
		background-image: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.1) 0%,
		rgba(0, 0, 0, 0) 100%,
		rgba(0, 0, 0, 0) 200%
	);
		border: 1px solid rgba(189, 194, 199, 0.5);
		border-radius: 2px;
		color: $blue;
		height: 46px;
		font-family: $proxima-black;
		font-size: $small-font-size;
		letter-spacing: 0;
		padding: 10px;
		text-transform: uppercase;
		width: 280px;
	}

	.largeDropdown {
		font-size: $xl-font-size;
		height: 56px;
	}

	.smallDropdown {
		font-size: $small-font-size;
		height: 36px;
	}

	.disabledDropdown {
		color: $gray;
	}
	//Extra.css
	.checkboxListElement {
		border: 1px solid $border-color;
		font-weight: bold;
		font-family: $proxima-black;
		padding: 15px 20px;
		display: flex;
		align-items: center;
		cursor: pointer;
		flex-wrap: wrap;
		margin-top: 10px;

		span {
			color: $blue;
			margin-left: 20px;
			text-transform: uppercase;
		}

		input {
			float: right;
			margin: 0 !important;
		}

		.description {
			background: $white;
			box-shadow: $box-shadow;
			font-family: $proxima;
			font-size: $tiny-font-size;
			font-weight: normal;
			padding: 10px;
			margin-bottom: 20px;
			position: relative;
			top: 5px;
			display: block;
			z-index: 1;
			line-height: 18px;
		}

		.icon {
			display: inline-block;
			width: 18px;
			height: 18px;
			position: relative;
			white-space: nowrap;
			left: 19px;
			top: -1px;
		}

		.infoIcon {
			background: url("../../icons/info.svg") 0 0 no-repeat transparent;
		}

		.closeIcon {
			background: url("../../icons/closeIconWithArrow.svg") 0 0 no-repeat
			transparent;
			width: 59px;
			height: 29px;
			position: relative;
			left: -1px;
			top: 5px;
			display: block;
			z-index: 10;
		}
	}

	.checkboxContainer {
		position: relative;
		height: 20px;

		label {
			background: $white;
			border: 1px solid rgba(189, 194, 199, 0.5);
			border-radius: 2px;
			width: 20px;
			height: 20px;
			padding: 0;
			margin: 0 !important;
			cursor: pointer;
			z-index: 1;

			&:hover {
				border: 2px solid $status-green;
			}
		}

		input[type="checkbox"]:checked + label {
			background: url(../../icons/checkedBox.svg) no-repeat 0 0px $white;
			border: none;
		}

		label:focus {
			outline: $outline auto 5px;
		}
	}
	//Layout.css
	.wrapper {
		@include xy-grid-container;
		justify-content: center;
		padding-top: rem-calc(50);
		padding-bottom: rem-calc(50);

		@include breakpoint(small down) {
			padding-top: rem-calc(40);
			padding-bottom: rem-calc(40);
		}

		.grid {
			@include xy-grid;
			padding-bottom: rem-calc(40);

			.cell {
				@include xy-cell(8 of 12, $gutters: 0);

				@include breakpoint(small down) {
					@include xy-cell(12, $gutters: 0);
				}
			}

			.halfCell {
				width: calc(34.44% - 1.25rem);
				margin-right: 0.625rem;
				margin-left: 0.625rem;

				&:first-of-type {
					margin-left: 0;
				}

				&:nth-of-type(2) {
					margin-right: 0;
				}

				@include breakpoint(small down) {
					@include xy-cell(12, $gutters: 0);
				}
			}

			.buttonCell {
				@include xy-cell(4 of 12);

				@include breakpoint(small down) {
					@include xy-cell(6 of 12);
				}

				button {
					float: right;
					margin: auto;
				}
			}
		}
	}

	.sectionHeader {
		border-bottom: 1px solid $border-color;
		padding-bottom: 20px;
		margin-bottom: 20px;
		text-transform: uppercase;
		width: 100%;
	}
	//MobileCalendar.css
	.nav {
		padding: 16px 0;
		color: $blue;
		font-weight: 700;
		display: flex;
		justify-content: space-between;

		.next,
		.previous {
			color: $blue;
			font-family: $proxima-black;
			height: 22px;
			margin: 0;
			width: 10px;
		}

		.previous {
			float: left;
		}

		.next {
			float: right;
		}

		.disabled {
			color: $white;
			cursor: auto;
		}

		.currentDate {
			color: $blue;
			font-family: $proxima-black;
		}
	}
	//ProgressBar.css
	.progressBar {
		align-items: center;
		display: flex;
		list-style-type: none;
		background-color: $light-gray;
		padding: 15px 60px;
		height: 95px;

		@include breakpoint(small down) {
			padding: 10px 35px;
			height: 70px;
		}

		ol {
			margin: 0 auto;
			width: 100%;
			max-width: $global-width;
		}

		li {
			position: relative;
			display: inline-block;
			color: $black;
			text-align: center;
			text-transform: capitalize;
			font-size: $xl-font-size;
			width: 33.33%;

			@include breakpoint(small down) {
				font-size: $small-font-size;
			}

			&:before {
				display: block;

				width: 30px;
				height: 30px;
				margin: 0 auto 10px auto;
				@include breakpoint(small down) {
					margin: 0 auto 5px auto;
				}

				content: attr(data-value);
				text-align: center;

				color: $white;
				border-radius: 50%;
				background-color: $blue;
				font-weight: bold;

				line-height: 30px;
			}

			&:after {
				position: absolute;
				top: 15px;
				left: -84%;
				width: 130%;
				height: 0px;

				content: "";

				border-top: 2px solid $blue;

				@include breakpoint(medium down) {
					width: 124%;
					left: -80%;
				}

				@include breakpoint(small down) {
					width: 115%;
					left: -73%;
				}

				@include breakpoint($older-phones down) {
					width: 80%;
					left: -45%;
				}
			}

			&:first-child {
				text-align: left;

				&:after {
					display: none;
				}

				&:before {
					margin: 0 0 10px 18px;
					@include breakpoint(small down) {
						margin: 0 0 5px 10px;
					}
				}
			}

			&:last-child {
				text-align: right;

				&:after {
					left: -45%;

					@include breakpoint(small down) {
						left: -41%;
					}

					@include breakpoint($older-phones down) {
						left: -30%;
					}
				}

				&:before {
					margin: auto 0 10px auto;
					position: relative;
					right: 15px;
					@include breakpoint(small down) {
						margin: auto 0 5px auto;
						right: 8px;
					}
				}
			}

			&.active {
				font-family: $proxima-black;
				color: $blue;
			}

			&.active ~ li {
				color: $gray;

				&:before {
					color: $white;
					background-color: $border-gray-color;
				}

				&:after {
					background-image: url("../../images/dottedBoarder.svg");
					height: 2px;
					border: none;
				}
			}
		}
	}
	//ServicesView.css
	.section {
		padding-bottom: rem-calc(40);
		width: 100%;

		textarea {
			margin-bottom: rem-calc(40);
			height: 110px;
		}

		button {
			float: right;
			width: 37.5%;

			@include breakpoint(small down) {
				width: 100%;
			}
		}
	}

	.errorSpan {
		color: $red;
		width: 55%;
		display: inline-block;

		@include breakpoint(small down) {
			width: 100%;
			margin-bottom: rem-calc(40);
			margin-left: 2px;
		}
	}
	//TimeList.css
	.timeListElement {
		border: 1px solid $border-color;
		border-radius: 2px;
		font-weight: bold;
		font-family: $proxima-black;
		color: $black;
		text-transform: uppercase;
		padding: 0px 0px 0px 20px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		align-items: center;

		label {
			padding: 15px 20px;
			width: 100%;
			height: 100%;
			cursor: pointer;
		}

		input[type="radio"]:after {
			border-radius: 10px;
			margin-top: -3px;
			margin-left: -3px;
			cursor: pointer;
		}

		.greenCheckMark {
			padding-right: 10px; //for a total of 20
		}
	}

	.unavailable {

		label {
			color: $border-gray-color;
			padding-left: 34px;
			width: auto;
		}

		.icon {
			display: inline-block;
			width: 18px;
			height: 18px;
			white-space: nowrap;
			margin-top: -3px;
			margin-left: -9px;
		}

		.infoIcon {
			background: url(../../icons/info.svg) 0 0 no-repeat transparent;
		}

		.closeIcon {
			background: url(../../icons/closeIconWithArrow.svg) 0 0 no-repeat
			transparent;
			width: 59px;
			height: 29px;
			position: relative;
			left: -20px;
			top: 6px;
			display: block;
			z-index: 10;
		}
	}

	.topLabel {
		display: flex;
		align-items: center;
		width: 88%;
	}

	.bottomLabel {
		display: flex;
		width: 100%;

		div {
			display: inline;
		}

		p {
			width: 100%;
		}
	}
}
