$mobileBannerLeftMargin: 20px;

/*
	This file is used for classes that are global and components that we expect to be on 
	many different pages.
*/
html,
body {
	height: 100%;
}

/*
	Current solution to handle assets that are hidden off the side of the screen, only comes in play in big desktop views.
	Example of this would be the "About Us" page and it's full width backgrounds on content.
*/
html {
	overflow-x: hidden;
}

/* 
	This is attached to the html and body elements by /js_react/containers/Header.es6. 
	This is important for the mobile navigation, where scrolling within the nav should not scroll
	the fixed positioned mobile nav content.
*/
.no-scroll {
	overflow: hidden; //used for body during mobile panels
	position: fixed;
}

//removing padding from foundation padding, can be seen in the categorylanding.isml template
.cell--noTopBottomMargin {
	margin-top: 0;
	margin-bottom: 0;
}

//used for the FREE text elements that are on warranty modules
.greenText {
	color: $status-green;
}

//global Overlay - all overlay component siblings would appear on top
.overlay ~ * {
	z-index: 20;
}

.proxima-black {
	font-family: $proxima-black;
}

.field-wrapper {
	position: relative;
}

//dialog custom css
//NOT BEM due to jQuery UI
.ui-dialog {
	background: #fff;
	padding: 17px 10px;

	.ui-dialog-titlebar {
		//bar on top of dialog that holds the close bar
		//height: 14px;
		.ui-dialog-title {
			display: none;
		}

		.ui-button-icon-only .ui-button-text {
			padding: 0;
		}
	}

	.ui-dialog-titlebar-close {
		//icon for the close icon
		background: url("../../icons/closeIcon.svg") 0 0 no-repeat transparent;
		background-size: cover;
		width: 14px;
		height: 14px;
		transition: transform 0.5s linear;

		&:hover {
			transform: scale(1.2);
		}
	}
}

.ui-widget-overlay {
	background: rgba(0, 0, 0, 0.4);
}

/* Paragraphs ---------------------------------------------------------------- */
.capitalize {
	text-transform: capitalize;
}

//Mostly used to style content, when paragraph sizes are not the default font size.
.paragraph {

	&:last-child {
		margin-bottom: 0;
	}

	&--large {
		font-size: $large-font-size;
		line-height: $large-line-height;
		margin-bottom: 18px;
	}

	&--small {
		font-size: $small-font-size;
		line-height: $small-line-height;
		margin-bottom: 14px;
	}

	&--tiny {
		font-size: $tiny-font-size;
		line-height: $tiny-line-height;
		margin-bottom: 12px;
	}

	&--doubleMargin {
		margin-bottom: 35px;
	}

	&--tripleMargin {
		margin-bottom: 50px;
	}

	&--italic {
		font-style: italic;
	}
}

//Used on product search results, a custom H1 that is smaller to match designs
.pageHeader {
	margin: rem-calc(30);

	h1 {
		font-size: 36px;
	}
}
//for when a paragraph starts with a checkmark
.checkmark {
	position: relative;
	padding-left: 27px;

	&:before {
		content: " ";
		position: absolute;
		height: 16px;
		width: 19px;
		left: 0;
		top: 5px;
		background: url("../../icons/greenCheckMark.svg") 0 0 no-repeat transparent;
		background-size: cover;
	}
}

//X class for closing dialogs
.x {
	position: relative;

	&:before {
		content: " ";
		position: absolute;
		height: 16px;
		width: 16px;
		left: 0;
		top: 0;
		background: url("../../icons/closeIconGray.svg") 0 0 no-repeat transparent;
		background-size: contain;
	}
}

/* Top Banner
	.banner class is the default
	.banner--hero will size the heros to be specific sizes,
	.banner--article will allow the image to be its true size (with 200 + 400px)
-------- */
.banner {
	position: relative;
	margin-bottom: rem-calc(40);

	/*
	We shouldn't need this but keeping just in case for now
	@include breakpoint(large up) {
		max-height: 485px;
	}*/

	p {
		font-size: $large-font-size;
		@include breakpoint(small down) {
			font-size: $font-size;
		}
	}

	&__image {
		//wraps every image for every type of banner
		max-height: 100%;
		overflow: hidden;
		position: relative;
		height: 400px; //no image should be over 400px.

		@include breakpoint(small down) {
			height: auto;
		}

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;

			@include breakpoint(large up) {
				object-position: top;
			}

			@include breakpoint(small down) {
				object-position: top right;
				height: auto;
				min-height: 200px; //no image should be under 200px.
			}
		}

		&:before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-image: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0.5) 0%,
			rgba(0, 0, 0, 0.3) 39%,
			rgba(0, 0, 0, 0) 78%
		);
		}
	}

	&__caption {
		//puts information on the bottom right of the banner
		position: absolute;
		bottom: 0;
		right: 0;
		width: 40%;
		color: $white;
		padding: 10px 20px;

		p {
			font-size: $small-font-size;
			text-align: right;
		}
		@include breakpoint(small down) {
			position: relative;
			width: 100%;
			background: $light-gray;
			color: $black;

			p {
				text-align: left;
			}
		}
	}

	//top section of information that appears over the banner image
	&__information--bottom,
	&__top__information {
		position: absolute;
		min-width: 512px;
		max-width: 750px;
		z-index: 1;

		.button {
			display: inline-block;
			margin-right: 5%;
			margin-top: 4%;
			width: auto;
			font-size: 18px;

			@include breakpoint(small down) {
				width: 100%;
				font-size: 16px;
				margin: 0 20px;
				width: calc(100% - 40px);
				position: relative;
			}
		}

		h1,
		h2 {
			color: $white;
			text-transform: uppercase;
			display: table;
			max-width: 100vw;
		}

		h1 {
			font-size: 24px;
			line-height: 28px;
		}

		h2,
		.heroH1 {
			font-size: 62px;
			line-height: 66px;
		}

		h6 {
			color: $white;
		}

		@include breakpoint(small down) {
			min-width: auto;

			h1 {
				font-size: 20px;
				line-height: 24px;
			}

			h2,
			.heroH1 {
				font-size: 36px;
				line-height: 40px;
				width: calc(
				100% - #{$mobileBannerLeftMargin}
			); //for the 20px created below
				display: table;
				margin-bottom: 0;
			}

			& > * {
				margin-left: $mobileBannerLeftMargin;
			}
		}
	}

	&__top {
		//wrapper for all top (and always top) content
		position: relative;
	}

	&__top__information {
		//wrapper for all content that is always top
		top: 60px;
		left: 3%;
		@include breakpoint(small down) {
			bottom: 0;
			top: auto;
			left: auto;
			margin-bottom: rem-calc(15);
			width: 100%;
		}

		a.button {
			margin-top: rem-calc(20);
		}
	}

	&__information--bottom {
		//wrapper for content that starts under top__information and goes to under banner on mobile
		top: 60%;
		left: 3%;
		@include breakpoint(small down) {
			position: relative;
			bottom: 0;
			left: 0;
			width: 100%;
			margin-top: rem-calc(15);
		}

		> p {
			color: $white;
			margin-bottom: 0;
			@include breakpoint(small down) {
				color: $gray;
				margin-bottom: $font-size;
			}
		}
	}

	&.banner--hero {
		//for heros that shouldnt decrease too small, they are heros of the page
		@include breakpoint(small down) {

			.banner__top {
				height: 260px;
			}

			.banner__image {
				height: 260px;

				img {
					height: 100%;
				}
			}
		}
	}

	&.banner--article {
		//for articles, we don't want to mess with any of the heights.
		.banner__image {
			height: auto;
			max-height: 400px;

			img {
				height: auto;
				width: 100%;
				@include breakpoint(small down) {
					object-position: top;
				}
			}
		}
	}

	//moves the top__information to a different location
	&.banner--alignBottom .banner__top__information {
		top: auto;
		bottom: 20px;
	}

	//used for the banners on the SEO directory pages
	&.banner--seoBanner {

		.banner__image {
			height: 230px;

			img {
				object-position: top left;
				height: 100%;
			}
		}

		.banner__top__information {
			top: 35px;

			@include breakpoint(small down) {
				bottom: 0;
				top: auto;
			}
		}
		//section under the banner image, with description and tire image
		.callout {
			position: relative;
			flex-direction: row;

			.banner__information__vehicleImage {
				display: block;
				flex-grow: 1;
				position: relative;

				img {
					position: absolute;
					left: 0;
					right: 0;
					margin: auto;
					bottom: -25px;
					max-height: 300px;
				}
			}
		}
	}
}

/* About Us Slots */
.slot {
	background: $light-gray;
	margin-bottom: rem-calc(40);

	//wrapping whole slot (used to handle centering on large screens)
	&__wrapper {
		display: flex;
		align-items: center;
		margin: 0 auto;
		max-width: 1024px;

		@include breakpoint(small down) {
			flex-direction: column;
		}
	}
	//wrapper for image container
	&__image {
		position: relative;
		max-width: 50%;

		@include breakpoint(small down) {
			max-width: 100%;
			margin-bottom: 15px;
		}

		img {
			max-height: 350px;
		}
		//handling triangle that appears over the slot's image
		.askew {
			position: relative;
			overflow: hidden;

			&:after {
				content: "";
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				background: $light-gray;
				width: 120px;
				transform: skew(-10deg) translateX(45px);
				height: 110%; //makes sure the skew is always big enough for the image
			}

			&--reverse {
				position: relative;
				overflow: hidden;

				&:after {
					position: absolute;
					left: 0;
					transform: skew(10deg) translateX(-45px);
				}
			}

			&--gradient:before {
				background-image: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.8) 27%,
				rgba(0, 0, 0, 0.5) 62%,
				rgba(0, 0, 0, 0) 100%
			);
				content: "";
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
				height: 50%;
			}
		}

		//will appear on top of the image
		ul {
			position: absolute;
			bottom: 0;
			left: 20px;
			color: $white;

			em {
				font-weight: bold;
			}

			li:before {
				background: url("../../icons/whiteCheckMark.svg") 0 0 no-repeat
				transparent;
				background-size: cover;
				top: 2px;
			}

			p {
				margin-bottom: rem-calc(10);
			}
		}
	}
	//whole wrapper for "text" side of the slot
	&__content {
		width: 50%;
		flex-grow: 1;
		@include breakpoint(small down) {
			width: 100%;
		}
		//wrapper for the text inside of the slot
		&__information {
			width: 80%;
			margin-left: 30px;

			.button {
				width: auto;
			}

			.button--tertiary {
				width: 100%;
			}
			@include breakpoint(large up) {

				p {
					font-size: $large-font-size;
				}
			}

			//look/feel when slot is under the image
			@include breakpoint(small down) {
				width: 90%;
				margin: 0 auto;

				h3 {
					font-size: 24px;
					margin-bottom: 10px;
				}

				.button {
					width: 100%;
				}
			}
		}

		blockquote {
			font-size: rem-calc(24);
			font-weight: 700;
			position: relative;
			margin: 45px 0;
			padding: 0;
			color: $blue;
			position: relative;
			border-left: none;
			@include breakpoint(medium down) {
				font-size: rem-calc(18);
			}

			&::before {
				content: "";
				position: absolute;
				width: 40px;
				height: 40px;
				top: -40px;
				left: 0;
				background: url(../../icons/quote.svg) no-repeat 50% 50% transparent;
			}
		}
	}

	.askew--right {
		width: 62px;
		position: relative;
		align-self: stretch;

		&:after {
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			background: $yellow;
			width: 100%;
			transform: skew(-10deg) translateX(35px);
		}
	}
	//logic to handle how to move the slot to the opposite side
	&.reverse {
		margin-left: auto;

		.slot__image {
			order: 2;

			@include breakpoint(small down) {
				order: 0;
			}

			ul {
				left: auto;
				right: 20px;
			}
		}

		.slot__content__information {
			order: 1;
		}
	}

	//handle large logic for large screens and positioning of slots
	@include breakpoint(large up) {
		left: calc((100% - 1024px) / 2);
		position: relative;

		&.reverse {
			right: calc((100% - 1024px) / 2);
			left: auto;

			.slot__wrapper {
				margin-right: 0;
				margin-left: auto;
			}
		}

		.slot__wrapper {
			margin-left: 0;
		}
	}

	@include breakpoint(small down) {
		background: $white;
	}

	&--fullbleed {
		background: $light-gray;
		width: 100%;
		left: 0;
		right: 0;

		.slot__wrapper {
			max-width: initial;
			@include breakpoint(small down) {
				flex-direction: initial;
			}
		}
	}
}

/* Dropdown ------ */
.dropdown {
	background: $white;
	background-image: linear-gradient(
	0deg,
	rgba(0, 0, 0, 0.1) 0%,
	rgba(0, 0, 0, 0) 100%,
	rgba(0, 0, 0, 0) 200%
);
	border: 1px solid rgba(189, 194, 199, 0.5);
	color: $blue;
	font-size: 14px;
	font-family: $proxima-black;
	height: 45px;
	text-transform: uppercase;
	text-indent: 5px;

	option {
		text-transform: none;
	}

	&--large {
		height: 56px;
		font-size: 18px;
	}

	&--small {
		height: 36px;
		font-size: 12px;
	}
}

/* Forms ----------- */
form {

	label {
		color: $gray;
		font-weight: 700;
	}

	span.error,
	.error-message {
		color: $red;
		display: block;
		margin-bottom: rem-calc(10);
	}
}

//form privacy warning
.form-privacy {
	border-top: 1px solid $border-gray-color-opacity;
	margin-top: 35px;
	padding: 30px 0px;
}
//form already loggedin
.already-loggedin a {
	margin-left: 5px;
}

/* Folder Content Styles */
.folder-content-list {
	list-style: none;
	margin: 0;
}

/* 
	Spacer Bar used on the Create An Account Page
	<span class="spacer-bar">${Resource.msg('account.user.registration.or','account',null)}</span>
*/
.spacer-bar {
	position: relative;
	text-align: center;
	margin: 0 auto;
	display: block;
	width: 10%;

	&:before,
	&:after {
		position: absolute;
		top: 10px;
		width: 475%;
		height: 0;
		content: "";
		border-top: 1px solid $border-gray-color-opacity;

		@include breakpoint(small down) {
			width: 450%;
		}
	}

	&:after {
		left: 75%;
		@include breakpoint(small down) {
			left: 100%;
		}
	}

	&:before {
		right: 75%;
		@include breakpoint(small down) {
			right: 100%;
		}
	}
}

//resetting defaults for our ULs
ul {
	margin: 0;
	list-style: none;

	ul {
		margin: 0;
	}
}

/* UL lists with our custom styles*/
.styled-list {
	list-style: none;

	&:not(:last-child) {
		margin-bottom: 30px;
	}

	li::before {
		content: "•";
		color: $red;
		padding-right: 10px;
	}

	&--checkmark {
		//checkmark for bullet point
		padding-left: 20px;
		list-style-image: url("../../icons/greenCheckMark.svg");

		em {
			font-weight: bold;
		}

		em,
		strong {
			color: $status-green;
		}
	}

	&--columns {
		//when the UL elements break down into columns of 4
		list-style-position: inside;
		column-count: 4;
		padding-left: 0;
		column-gap: rem-calc(20);
	}

	&--twoColumns li {
		//when the UL elements break down into columns of 2
		width: 40%;
		display: inline-block;
	}
}

//I am unsure what this does
.dl__sidebyside {

	&:last-child {
		margin-bottom: 0;
	}

	&:after {
		content: "";
		clear: both;
		display: block;
	}

	dt {
		float: left;
		clear: both;
		width: 300px;
		@include breakpoint(small down) {
			width: auto;
			padding-right: 10px;
		}

		img {
			max-width: 100%;
			height: auto;
		}
	}

	dd {
		float: left;
	}
}

/*image class to make an image round*/
.round {
	border-radius: 50%;
}

/* Articles */
.article {
	display: flex;
	flex-direction: column;
	//This is block level link styling
	& > a {
		color: inherit;
		font-weight: inherit;
		display: flex; //if there is a link, we will want it to be 100% height for grid
		flex-direction: column;
		flex-grow: 1;

		@media screen and (-ms-high-contrast: active),
			screen and (-ms-high-contrast: none) {

			/* IE10+ specific styles go here */
			display: block;
		}

		h5:after {
			content: "";
			display: inline-block;
			position: relative;
			margin-left: 10px;
			background: url("../../icons/chevronWhite.svg") no-repeat center center
			transparent;
			background-size: contain;
			width: 8px;
			height: 13px;
			transform: rotate(180deg);
		}
	}

	.gradient-image {
		position: relative;

		img {
			position: relative;
			z-index: 1;

			& ~ * {
				z-index: 3;
			}
		}

		&:after {
			z-index: 2;
			background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.8) 27%,
			rgba(0, 0, 0, 0.5) 62%,
			rgba(0, 0, 0, 0) 100%
		);
			content: " ";
			position: relative;
			margin-top: -75px;
			height: 75px;
			width: 100%;
			display: block;
		}
	}

	figcaption {
		border: 1px solid $border-gray-color-opacity;
		border-top: none;
		padding: 14px 20px;
		flex-grow: 1;

		p:last-child {
			margin-bottom: 0;
		}
	}

	h5 {
		position: absolute;
		bottom: 0;
		color: $white;
		padding: 0 20px;
		margin-bottom: 10px;
		font-size: 16px;
	}

	&--centeredInfo {
		border: 1px solid $border-gray-color-opacity;
		@include breakpoint(small down) {
			width: auto;
			margin: rem-calc(20) auto;
		}

		figcaption {
			text-align: center;
			display: flex;
			flex-direction: column;
			border: none;

			a {
				margin-top: auto;
			}
		}

		img {
			@include breakpoint(medium up) {
				width: 100%;
			}
		}
	}
}

/*
	Video modal, used on the Careers Page. 
	It is normally a thumbnail, where you click the img and it brings up a modal. 
	JS for this is in: VideoModal.es6

*/
.videoModal {
	position: relative;
	cursor: pointer;

	&:before {
		content: "";
		position: absolute;
		width: 45px;
		height: 45px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: url(../../icons/videoPlay.svg) 50% 50% no-repeat transparent;
		pointer-events: none;
	}

	&--noThumbnail:before {
		width: 30px;
		height: 30px;
		background-size: cover;
		left: 10px;
	}

	&--noThumbnail .videoModal__title {
		padding-left: rem-calc(30);
	}

	&__popup {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 60%;
		@include breakpoint(small down) {
			width: 80%;
		}

		&__wrapper {
			padding-bottom: 56.25%;
			width: 100%;
			position: relative;
		}

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__close {
		position: absolute;
		top: -20px;
		right: 0;
		display: block;
		width: 15px;
		height: 15px;
		cursor: pointer;
		background: url(../../icons/closeIconWhite.svg) 0 0 no-repeat transparent;
		background-size: cover;
	}

	@include breakpoint(small down) {

		img {
			width: 100%;
		}
	}
}

/*
	Used to wrap a whole banner as a video thumbnail. can be seen at this content asset: learning-center-art-top-tire-pressure
*/
.videoBanner {
	//used when the video is a full width banner (like on tips page)
	margin-bottom: 50px;
	@include breakpoint(small down) {
		margin-bottom: 30px;
	}

	h6 {
		position: absolute;
		bottom: 2%;
		left: 3%;
		color: $white;
	}

	img {
		width: 100%;
	}
}

/* 
	Pricing styling classes
   	Used in WheelVisualizer.es6
*/
.money {
	color: $black;
	font-size: 36px;
	font-weight: 900;
	line-height: 40px;
	font-family: $proxima-black;
	vertical-align: top;
	margin: 0 5px;

	&--green {
		color: $status-green;
	}

	sup {
		padding: 0 2px;
		font-size: 40%;
	}

	&--secondary {
		font-size: 24px;
		line-height: 28px;

		sup {
			font-size: 50%;
		}
	}
}

/* 
	Callouts
*/
.callout {
	margin-bottom: 20px;

	& > :last-child {
		margin-bottom: 0;
	}

	//callout used on careers page, a 2nd column with red borders on top and bottom
	&__primary {
		padding: 20px 0;
		border-top: 4px solid $red;
		border-bottom: 4px solid $red;

		h3,
		h5,
		.callout__heading {
			text-transform: uppercase;
			color: $red;
		}

		.button {
			width: auto;
		}
		@include breakpoint(small down) {

			.button {
				width: 100%;
			}

			.callout__heading {
				font-size: 24px;
			}
		}
	}

	//callout that is used on banners to produce the gray area for text, buttons and store details
	&__secondary {
		padding: rem-calc(30);
		background-color: $light-gray;
		margin-bottom: rem-calc(50);
		display: flex;
		flex-direction: column;

		@include breakpoint(large up) {

			p {
				@include xy-cell(7);
			}
		}

		@include breakpoint(medium up) {

			p {
				@include xy-cell(5);
				margin: 0;
			}

			.list--pipe {
				margin-top: rem-calc(10);
			}
		}

		@include breakpoint(medium down) {

			.list--pipe {
				max-width: 60%;

				li {
					border-right: none;
				}
			}
		}

		@include breakpoint(large up) {

			p {
				@include xy-cell(7);
			}
		}

		@include breakpoint(small down) {
			margin-bottom: rem-calc(20);
			width: auto;
			background-color: $white;
			padding-bottom: 0;

			.list--pipe {
				max-width: 100%;
			}
		}

		&.callout__secondary--large {

			p {
				width: 100%;
				margin: 0;
			}
		}

		&.callout__secondary--withLink {
			display: flex;
			justify-content: space-between;
			flex-direction: row;

			p {
				width: auto;
			}
			@include breakpoint(small down) {
				flex-direction: column;
			}

			a {
				flex-shrink: 0;
				align-self: start;
				@include breakpoint(medium up) {
					margin-left: rem-calc(70);
				}
				@include breakpoint(small down) {
					text-align: center;
					width: 100%;
				}
			}
		}
	}

	//simple callouts that show off things like services provided/tire types
	&__simple {
		padding: rem-calc(15) rem-calc(20);
		border: 1px solid rgba(189, 194, 199, 0.5);
		border-radius: 2px;
		background-color: $white;
		margin-bottom: 0;
	}

	&--framed {
		border: 1px solid $light-gray;
		padding: rem-calc(32);
	}

	//Callout on the PDP pages for Wheels and Tires
	&--servicePromise {
		margin-bottom: rem-calc(50);
		@include breakpoint(small down) {
			margin-bottom: rem-calc(10);
		}

		em {
			font-style: normal;
			color: $status-green;
		}

		&__heading {
			display: flex;
			margin-bottom: rem-calc(20);

			header h5 {
				margin-bottom: 0;
			}

			&:before {
				content: "";
				display: block;
				background: url("../../icons/bestValue.svg") no-repeat transparent;
				background-position: center top;
				background-size: contain;
				width: rem-calc(30);
				height: auto;
				margin-right: rem-calc(10);
			}

			&.icon--large:before {
				width: rem-calc(40);
				@include breakpoint(small down) {
				}
			}
		}

		&__aside {
			text-align: center;

			img {
				width: 200px;
				margin: 0 auto;
				margin-bottom: rem-calc(20);
			}
			@include breakpoint(small down) {
				margin-top: rem-calc(20);

				img {
					width: 150px;
				}

				h6 {
					font-size: 16px;
				}
			}
		}

		&__list {
			max-width: 60em;
			overflow-x: hidden;

			li {

				&:not(:last-child) {
					margin-bottom: rem-calc(10);
				}

				&:before {
					float: left;
					width: 0;
					white-space: nowrap;
					content: ". . . . . . . . . . . . . . . . . . . . "
					". . . . . . . . . . . . . . . . . . . . "
					". . . . . . . . . . . . . . . . . . . . "
					". . . . . . . . . . . . . . . . . . . . "
					". . . . . . . . . . . . . . . . . . . . "
					". . . . . . . . . . . . . . . . . . . . ";
				}

				> span,
				> em {
					background: $white;
					display: inline-block;
					overflow: hidden;

					&:last-child {
						float: right;
					}
				}

				em {
					font-weight: 900;
				}
			}
		}

		&--horizontal {
			display: flex;
			flex-direction: row;
			align-items: stretch;

			.callout--servicePromise__heading {
				width: 260px;
				margin-bottom: 0;
				margin-right: rem-calc(20);

				@include breakpoint(small down) {
					//for tire sale page
					width: 100%;
					display: flex;
					justify-content: flex-start;
					margin-left: rem-calc(20);
				}
			}

			ul {
				font-size: $tiny-font-size;
			}
		}
	}
}

a.callout {
	position: relative;

	&:after {
		content: "";
		background: url("../../icons/arrowBlueRight.svg");
		background-repeat: no-repeat;
		background-size: contain;
		display: block;
		position: absolute;
		right: 10px;
		top: 17px;
		width: 8px;
		height: 12px;
	}
}

/* 
	Component used to display an image on the left, and text on the right. 
	This can be found on the /car-lift-systems page
*/
.splitFigure {
	@include xy-grid;

	&__imageContainer,
	&__caption {
		@include xy-cell(6);
		@include breakpoint(small down) {
			@include xy-cell();
		}
		@include xy-gutters($gutter-position: left right bottom);
	}

	&__imageContainer {
		position: relative;

		&__heading {
			@include show-for-only(small);
			position: absolute;
			left: 10px;
			right: 10px;
			bottom: 0;
			color: $white;
			margin-bottom: 10px;
		}
		@include breakpoint(small down) {

			img {
				position: relative;
				z-index: 1;

				& ~ * {
					z-index: 3;
				}
			}

			&:after {
				z-index: 2;
				background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.8) 27%,
				rgba(0, 0, 0, 0.5) 62%,
				rgba(0, 0, 0, 0) 100%
			);
				content: " ";
				position: relative;
				margin-top: -75px;
				height: 75px;
				width: 100%;
				display: block;
			}
		}
	}

	&__caption__heading {
		@include hide-for-only(small);
	}
}

/* Section demarkations */
.contentSection {
	margin-bottom: rem-calc(50);
	@include breakpoint(small down) {
		margin-bottom: rem-calc(40);
	}

	&--gray {
		padding-top: rem-calc(60);
		background: url("../../images/background-200px.png") repeat-x 0 0
		transparent;
	}
}

/* 
	Icons that with gray backgrounds.
	<span class="initial__icon initial__icon--highGround"></span>
	These can be found on the /car-lift-systems page
*/
.initial {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	@include breakpoint(small down) {
		position: relative;
		padding-left: 82px;
	}

	h6 {
		align-self: center;
		width: 70%;

		@include breakpoint(small down) {
			margin-top: 0;
		}
	}

	&__icon {
		margin: 0 0.9375rem 0 0.3125rem;
		width: 62px;
		height: 52px;
		display: inline-block;
		background-position: 50% 50%;
		background-repeat: no-repeat;

		&:before {
			content: "";
			display: block;
			position: relative;
			z-index: -1;
			background-color: $light-gray;
			transform: skew(-10deg);
			width: 100%;
			height: 100%;
		}
		@include breakpoint(small down) {
			float: none;
			position: absolute;
			left: 0px;
		}

		&--airPressure {
			background-image: url(../../icons/landingPage/airPressure.svg);
		}

		&--autumn {
			background-image: url(../../icons/landingPage/autumn.svg);
		}

		&--batteries {
			background-image: url(../../icons/batteries.svg);
		}

		&--bentArrow {
			background-image: url(../../icons/bentArrow.svg);
		}

		&--brakes {
			background-image: url(../../icons/brakes.svg);
		}

		&--chains {
			background-image: url(../../icons/chains.svg);
		}

		&--ecoDrop {
			background-image: url(../../icons/landingPage/ecoDrop.svg);
		}

		&--freezing {
			background-image: url(../../icons/landingPage/freezing.svg);
		}

		&--gas {
			background-image: url(../../icons/gas.svg);
		}

		&--grip {
			background-image: url(../../icons/grip.svg);
		}

		&--heat {
			background-image: url(../../icons/landingPage/heat.svg);
		}

		&--powerBattery {
			background-image: url(../../icons/landingPage/powerBattery.svg);
		}

		&--rain {
			background-image: url(../../icons/landingPage//rain.svg);
		}

		&--rubberTracks {
			background-image: url(../../icons/landingPage/rubberTracks.svg);
		}

		&--sportsCar {
			background-image: url(../../icons/sportsCar.svg);
		}

		&--seasonal {
			background-image: url(../../icons/seasonal.svg);
		}

		&--seatbelt {
			background-image: url(../../icons/seatbelt.svg);
		}

		&--sleet {
			background-image: url(../../icons/landingPage//sleet.svg);
		}

		&--snowing {
			background-image: url(../../icons/landingPage//snowing.svg);
		}

		&--speedometer {
			background-image: url(../../icons/speedometer.svg);
		}

		&--tag {
			background-image: url(../../icons/tag.svg);
		}

		&--tireAndWheel {
			background-image: url(../../icons/landingPage/tireAndWheel.svg);
		}

		&--treadEdge {
			background-image: url(../../icons/landingPage/treadEdge.svg);
		}

		&--leak {
			background-image: url(../../icons/leak.svg);
		}

		&--warning {
			background-image: url(../../icons/gas.svg);
		}

		&--wheels {
			background-image: url(../../icons/wheels.svg);
		}

		&--wrench {
			background-image: url(../../icons/wrench.svg);
		}

		&--road {
			background-image: url(../../icons/road.png);
			background-size: 37px;
		}

		&--gift {
			background-image: url(../../icons/landingPage/gift.svg);
		}

		&--starRing {
			background-image: url(../../icons/landingPage/starRing.svg);
		}

		&--fast {
			background-image: url(../../icons/landingPage/fast.svg);
		}

		&--bill {
			background-image: url(../../icons/landingPage/bill.svg);
		}

		&--dayNight {
			background-image: url(../../icons/landingPage/dayNight.svg);
		}

		&--gearFarmTire {
			background-image: url(../../icons/landingPage/gearFarmTire.svg);
		}

		&--phone {
			background-image: url(../../icons/landingPage/phone.svg);
		}

		&--relatedServices {
			background-image: url(../../icons/landingPage/relatedServices.svg);
		}

		&--tractor {
			background-image: url(../../icons/landingPage/tractor.svg);
		}

		&--balance {
			background-image: url(../../icons/landingPage/balance.svg);
		}

		&--eye {
			background-image: url(../../icons/landingPage/eye.svg);
		}

		&--fuelEconomy {
			background-image: url(../../icons/landingPage/fuelEconomy.svg);
		}

		&--highGround {
			background-image: url(../../icons/landingPage/highGround.svg);
		}

		&--rightTires {
			background-image: url(../../icons/landingPage/rightTires.svg);
		}

		&--vehicleBalance {
			background-image: url(../../icons/landingPage/vehicleBalance.svg);
		}

		&--weight {
			background-image: url(../../icons/landingPage/weight.svg);
		}

		&--traction {
			background-image: url(../../icons/landingPage/traction.svg);
		}

		&--boat {
			background-image: url(../../icons/landingPage/boat.svg);
		}

		&--heavyDutyTrailer {
			background-image: url(../../icons/landingPage/heavyDutyTrailer.svg);
		}

		&--livestock {
			background-image: url(../../icons/landingPage/livestock.svg);
		}

		&--overlap {
			background-image: url(../../icons/landingPage/overlap.svg);
		}

		&--radial {
			background-image: url(../../icons/landingPage/radial.svg);
		}

		&--smallTrailer {
			background-image: url(../../icons/landingPage/smallTrailer.svg);
		}

		&--tireSize {
			background-image: url(../../icons/landingPage/tireSize.svg);
		}

		&--trailer {
			background-image: url(../../icons/landingPage/trailer.svg);
		}

		&--travel {
			background-image: url(../../icons/landingPage/tireSize.svg);
		}
	}
}

//Wrapper used for a button that has some paragraph text before / after it.
//Allows for basic column cotent to be created.
.buttonAndText {
	display: flex;
	flex-direction: column;

	.button {
		align-self: left;
		width: auto;
	}
}
