/*
  media points on all components
  use map for the props/class names

  1) Default Styles
  2) Gray Sytles
  3) Tertiary Styles
  4) Disabled Styles
  4) Flex Styles
  5) Warranty Buttons
  6) Account Social Login Buttons
  7) Vehicle Flow
*/

/* 1) Default Styles --------------------------------------------------------------*/
button {
	cursor: pointer;
}
//Default Button Styles
.button {
	background-image: linear-gradient(
	0deg,
	rgba(0, 0, 0, 0.23) 0%,
	rgba(0, 0, 0, 0) 100%,
	rgba(0, 0, 0, 0) 200%
);
	border: none;
	text-transform: uppercase;
	width: 300px;
	position: relative;
	bottom: 0;

	&:hover {
		box-shadow: $box-shadow;
		background: $dark-red;
		background-image: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.22) 0%,
		rgba(0, 0, 0, 0) 100%,
		rgba(0, 0, 0, 0) 100%
	);
		bottom: 2px;
		transition: all 0.25s linear;
	}

	&.checkboxWrapper {
		padding: rem-calc(8) rem-calc(10) rem-calc(8) rem-calc(8);

		span {
			color: $blue;
			font-size: $small-font-size;
			text-transform: none;
		}
	}

	&--large {
		font-size: 18px;
	}
}

// Used to wrap buttons when they are supposed to be on the same line (on search results page)
.button-group {
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
	margin-bottom: 1rem;
	width: 100%;

	.button {
		margin-bottom: 0;
		width: auto;
		flex-grow: 1;

		& + .button,
		& + a {
			margin-left: rem-calc(20);
			flex-grow: 1;
		}
	}

	&--switch button {
		//logic to make the buttons act like "switches"
		padding: 12px 15px;
		margin: 0;
		background: $white;
		border: 1px solid $light-gray;
		border-radius: 2px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		font-size: $small-font-size;
		font-weight: bold;
		color: $blue;

		&:not(:first-child) {
			border-left: none;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		&:last-child {
			border-top-right-radius: 2px;
			border-bottom-right-radius: 2px;
		}

		&.active {
			background: $blue;
			border-width: 0;
			color: $white;
		}
	}
}

/* Gray Styles --------------------------------------------------------------*/
.button--gray {
	@include button-style($white, $white, $blue, 0%);
	background-image: linear-gradient(
	0deg,
	rgba(0, 0, 0, 0.1) 0%,
	rgba(0, 0, 0, 0) 100%,
	rgba(0, 0, 0, 0) 100%
);
	border: 1px solid rgba(189, 194, 199, 0.5);

	&:hover {
		background: $white;
		background-image: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.1) 0%,
		rgba(0, 0, 0, 0) 100%,
		rgba(0, 0, 0, 0) 100%
	); //overriding default $button-background-hover
	}
}

/* Tertiary Styles --------------------------------------------------------------*/
.button--tertiary {
	@include button-style($white, $white, $blue, 0%);

	/* Button: */
	background: $white;
	border: 1px solid $border-gray-color-opacity;

	/* Load More: */
	color: #065386;
	line-height: 20px;

	&:hover {
		background: $white;
		color: #065386;
	}
}

/* Disabled Styles --------------------------------------------------------------*/
.button--isDisabled {
	@include button-hollow();
	@include button-style(
		$white,
		scale-color($white, $lightness: -15%),
		$blue,
		-20%
	);
	background-image: linear-gradient(
	0deg,
	rgba(0, 0, 0, 0.1) 0%,
	rgba(0, 0, 0, 0) 100%,
	rgba(0, 0, 0, 0) 100%
);
	color: $border-gray-color;

	&:hover {
		color: $border-gray-color;
		cursor: default;
	}
}

/* Flex Styles --------------------------------------------------------------*/
.button--flex {
	@include button-expand();
	width: 75%; //overwrite rule from button-expand()
}

.button--flexWide {
	@include button-expand();
	width: 100%; //overwrite rule from button-expand()
}

.button--flexThin {
	@include button-expand();
	width: 50%; //overwrite rule from button-expand()
}

//View More Styles for when looking at more services or articles
.button--viewMoreArticles {
	font-size: 14px;
	text-transform: none;
	width: auto;
	margin: 0 auto;
	display: block;

	@include breakpoint(small down) {
		width: 100%;
	}
}

//tiny text for the button
.button--tinyText {
	font-size: $tiny-font-size;
}

//Warrany Buttons
.button--tire-warranty,
.button--brakes-warranty,
.button--alignment-warranty,
.button--battery-warranty,
.button--wheel-warranty,
.button--shocks--structs-warranty,
.button--chains-warranty,
.button--bill-pay--warranty {
	position: relative;
	text-align: left;
	font-size: 14px;
	width: auto;
	padding-left: 60px;
	padding-right: 50px;

	&:before {
		content: "";
		height: 32px;
		width: 32px;
		position: absolute;
		left: 12px;
		top: 20%;
	}

	&:after {
		background: url("../../images/pdf.png") no-repeat 0 0 transparent;
		content: "";
		background-size: cover;
		height: 20px;
		width: 20px;
		position: absolute;
		right: 14px;
		top: 15px;
	}
}

.button--tire-warranty:before {
	background: url("../../icons/tires.svg") no-repeat 0 0 transparent;
}

.button--brakes-warranty:before {
	background: url("../../icons/brakes.svg") no-repeat 0 0 transparent;
}

.button--chains-warranty:before {
	background: url("../../icons/chains.svg") no-repeat 0 0 transparent;
	background-size: contain;
}

.button--alignment-warranty:before {
	background: url("../../icons/alignment.svg") no-repeat 0 0 transparent;
}

.button--battery-warranty:before {
	background: url("../../icons/batteries.svg") no-repeat 0 0 transparent;
}

.button--wheel-warranty:before {
	background: url("../../icons/wheels.svg") no-repeat 0 0 transparent;
}

.button--shocks--structs-warranty:before {
	background: url("../../icons/shocks.svg") no-repeat 0 0 transparent;
}

.button--bill-pay--warranty:before {
	background: url("../../icons/billPayPDF.svg") no-repeat 0 0 transparent;
	background-size: contain;
}

/*Buttons for Account Login Page-----------------------------------------------*/
.button--google {
	background: #519bf7;
	font-family: $proxima;
	font-weight: 700;
	font-size: 12px;

	&:hover {
		background: #519bf7;
	}

	&:before {
		content: " ";
		background: url("../../images/google-button.png") no-repeat 0 0 transparent;
		height: 24px;
		width: 24px;
		position: absolute;
		left: 12px;
		top: 24%;
	}
}

.button--facebook {
	background: #5b78b3;
	font-family: $proxima;
	font-weight: 700;
	font-size: 12px;

	&:hover {
		background: #5b78b3;
	}

	&:before {
		content: " ";
		background: url("../../images/facebook-button.png") no-repeat 0 0
		transparent;
		height: 24px;
		width: 24px;
		position: absolute;
		left: 12px;
		top: 24%;
	}
}

/* Vehicle Flow---------------------------------------------------------*/
.button--vehicleSelector {
	@include button-style($white, $white, $blue, 0%);

	/* Button: */
	background: $white;
	border: 1px solid $border-gray-color-opacity;
	color: $black;
	font-family: $proxima;
	line-height: 20px;
	text-transform: none;
	font-size: $small-font-size;
	position: relative;
	text-align: left;
	text-indent: 50px;

	&:hover {
		background: $white;
		color: $black;
	}
}

.byTire .button,
.byVehicleType .button,
.byWheel .button {

	&:after {
		content: "";
		background: url("../../icons/arrowGray.svg") no-repeat 0 0 transparent;
		background-size: contain;
		height: 11px;
		width: 8px;
		display: block;
		position: absolute;
		right: 15px;
		top: calc(50% - 6px);
		font-size: 20px;
	}

	&:before {
		content: "";
		height: 34px;
		width: 34px;
		position: absolute;
		left: 15px;
		top: 8px;
	}
}

.byVehicleType .button--vehicleSelector {

	&:before {
		background: url("../../icons/car.svg") no-repeat 0 0 transparent;
		background-size: contain;
	}
}

.byWheel .button--vehicleSelector {

	&:before {
		background: url("../../icons/wheels.svg") no-repeat 0 0 transparent;
		background-size: contain;
	}
}

.byTire .button--vehicleSelector {

	&:before {
		background: url("../../icons/tires.svg") no-repeat 0 0 transparent;
		background-size: contain;
	}
}
