/*
	Dropdown's, currently used in the filters section of Wheel Visualizer
*/

//This class should be unused, ported from the Les Schwab Scheduler App
.dropdown {
	background: #ffffff;
	background-image: linear-gradient(
	0deg,
	rgba(0, 0, 0, 0.1) 0%,
	rgba(0, 0, 0, 0) 100%,
	rgba(0, 0, 0, 0) 200%
);
	border: 1px solid $border-gray-color-opacity;
	border-radius: 2px;
	color: $blue;
	height: 46px;
	font-family: $proxima-black;
	font-size: $small-font-size;
	letter-spacing: 0;
	padding: 10px;
	text-transform: uppercase;
	width: 280px;

	&--large {
		font-size: $large-font-size;
		height: 56px;
	}

	&--small {
		font-size: $small-font-size;
		height: 36px;
	}

	&--disabled {
		color: $gray;
	}
}

//Dropdowns used for the filters.
.dropdownSelect {
	position: relative;
	z-index: 10; //to insure aoutline is above layout
	@include breakpoint(medium up) {

		& + & {
			margin-left: 14px;
		}
	}
	@include breakpoint(small down) {

		& + & {
			margin-top: 10px;
		}

		&__label {
			font-size: 16px;
			font-family: $proxima-black;
			text-transform: uppercase;
			font-weight: 900;
		}
	}

	&__label {
		border-radius: 2px;
		border: 1px solid $border-gray-color-opacity;
		color: $blue;
		font-size: $small-font-size;
		font-weight: bold;
		line-height: 20px;
		margin: 0 !important;
		min-width: 140px;
		padding-right: 26px;
		padding: 8px 12px;
		cursor: pointer;

		&:after {
			//line-height: 3;
			background: url("../../icons/accordionArrow.svg") center center no-repeat
			transparent;
			content: "";
			display: block;
			height: 3em;
			position: absolute;
			right: 0;
			top: 0;
			transition: all 0.35s;
			width: 3em;
		}
	}

	&__pane {
		background: $white;
		border: 1px solid $border-gray-color-opacity;
		display: none;
		font-size: $small-font-size;
		left: 0;
		margin-top: -1px; //border compensate
		min-width: 100%;
		padding: rem-calc(16);
		position: absolute;
		top: 100%;
		z-index: 10;

		li {
			white-space: nowrap;
		}

		li + li {
			margin-top: rem-calc(10);
		}

		@include breakpoint(small down) {
			position: relative;
		}
	}

	&:focus,
	&:hover {

		.dropdownSelect__pane {
			display: block;
		}

		.dropdownSelect__label:after {
			transform: rotate(180deg);
		}
	}

	.dropdownSelect__label {
		display: block;
	}

	&__toggle:checked ~ &__pane {
		display: block;
	}
}
