/* 
	CSS to handle the footer code throughout the site. Can be used for footer itself, or other
	pages with their own footer (like Store Locator)
*/

//Whole Container for Footer
.footer {
	background: url("../../images/background-200px.png") repeat-x 0 0 transparent;
	padding: 30px 32px 0px 32px;
	border-top: 1px solid $border-gray-color-opacity;
	margin-top: rem-calc(80);

	@include breakpoint(small down) {
		margin-top: rem-calc(50);
		padding: 0 0 20px 0px;
	}

	&__container {
		//top section of the footer
		display: flex;
		justify-content: space-between;
		max-width: 1440px;
		margin: 0 auto;

		@include breakpoint(small down) {
			flex-direction: column;
			padding: 5px 0px;
		}

		.social-links {
			width: 50%;
		}
	}

	&__bottom {
		//handles the privacy and copyright text
		display: flex;
		height: 75px;
		align-items: center;
		max-width: 1440px;
		margin: 0 auto;
		margin-top: rem-calc(20);
		border-top: 1px solid $border-gray-color-opacity;
		font-size: $small-font-size;

		.footer__copy {
			//copyright text
			border-right: 1px solid $border-gray-color-opacity;
			margin-right: 15px;
			padding-right: 10px;
		}

		a {
			font-weight: bold;
		}

		@include breakpoint(small down) {
			//when mobile, swap positions and add some padding
			padding: 20px;
			margin-bottom: 0;

			.content-asset {
				display: flex;
				flex-direction: column;

				.footer__copy {
					border: none;
					order: 1;
				}

				a {
					margin-bottom: 20px;
				}
			}
		}
	}
}

//One of the 4 columns for the footer
.footer__container__item {
	//basic styles for the section headers and first links
	width: 25%;
	@include breakpoint(small down) {
		width: 100%;
	}

	[type="checkbox"] + label[for] {
		margin: 0;
		position: relative;
		cursor: default;
	}

	&__heading {
		//font-size: $font-size;
		text-transform: capitalize;
		padding-bottom: 15px;
		margin: 0;
	}

	h6 {
		font-size: $font-size;
	}

	ul {
		list-style: none;
		margin: 0;
	}

	li {
		padding: 10px 0px;
	}

	a {
		font-weight: bold;
	}

	@include breakpoint(small down) {

		&:first-of-type {
			//on mobile, social needs to be last
			order: 1;
		}

		& > label {
			//only want to style first label (main h1 section header)
			width: 100%;
			cursor: pointer;

			&:after {
				//basic styles for blue up/down label arrow
				position: absolute;
				right: 8px;
				top: 0;
				display: block;
				width: 3em;
				height: 3em;
				line-height: 3;
				text-align: center;
				transition: all 0.35s;
			}
		}
		//Handles all the logic for opening and closing of footer on mobile
		& > input {

			&:checked ~ label {
				border: none;
			}

			&[type="checkbox"] + label::after {
				//arrow at the end of the label
				content: " ";
				background: url("../../icons/accordionArrow.svg") center center
				no-repeat transparent;
			}

			&[type="checkbox"]:checked + label::after {
				//reverse arrow when open
				transform: rotate(180deg);
			}
		}

		&__heading,
		h6 {
			//title for the section of links
			margin: 15px 0 0 0;
			padding: 0 20px 15px 20px;
		}

		.menu-footer {
			//hide ul by default, then increase height when clicked
			max-height: 0;
			overflow: hidden;
			-webkit-transition: max-height 0.5s;
			-o-transition: max-height 0.5s;
			transition: max-height 0.5s;
			border-bottom: 1px solid $border-gray-color-opacity;

			li {
				border-bottom: 1px solid $border-gray-color-opacity;
				padding: 15px 0px;
				margin-left: 20px;
				margin-right: 20px;

				&:last-of-type {
					border: none;
					margin-bottom: 0;
				}
			}
		}

		input:checked ~ ul {
			max-height: none;
		}
	}
}

@include breakpoint(small down) {
	//mobile styling for Social Links
	//social footer mobile styles
	.footer__social--container {
		display: flex;
		padding: 25px 0px;
		align-items: center;
		justify-content: space-between;
		margin: 0px 20px;
		//border-bottom: 1px solid $border-gray-color-opacity;

		ul {
			max-height: none;
			border: none;
			margin: 0;
			padding: 0;

			li {
				border: none;
				margin: 0;
				padding: 0;
			}
		}

		.footer__container__item__heading {
			padding: 0;
			margin: 0;
		}
	}
}

//Handles the little menu that appears in the Products Column
.footer-products--menu {

	label {
		cursor: pointer;
		color: $dark-red;
		font-weight: 700;
		margin: 0;
		padding: 7px 0px;
	}

	&-expanded > li:not(.active) {
		position: absolute;
		visibility: hidden;
		opacity: 0;
	}

	& > li {
		//styles for immediate LI
		position: relative;
		padding: 0;
		opacity: 1;
		transition: opacity 0.5s;
		@include breakpoint(medium up) {

			&:hover {

				> label,
				> a {
					background: $light-gray;
					color: $black;
					position: relative;
					padding-left: 15px;
					border-left: 4px solid $yellow;
					border-top-left-radius: 2px;
					border-bottom-left-radius: 2px;
					transform: scale(1);
					transition: 0.15s all ease;
				}
			}
		}

		& > label {
			width: 100%;

			@include breakpoint(small down) {
				padding: 0px;
			}

			&:after {
				position: absolute;
				right: 0;
				top: 16px;
				display: block;
				width: 8px;
				height: 12px;
				content: " ";
				background: url("../../icons/arrowGray.svg") 0 0 no-repeat transparent;
				background-size: contain;
				@include breakpoint(small down) {
					top: 8px;
				}
			}
		}

		& > a {
			display: block;
			width: 100%;
			padding: 10px 0px;
		}
	}

	.footer-products--submenu-label {
		display: none;
	}

	input:checked ~ label {
		display: none;
	}

	input:checked ~ .footer-products--submenu-label {
		display: inline-block;
		width: 100%;
		position: relative;

		h1,
		.footer__container__item__heading,
		label {
			display: inline-block;
		}

		.footer__container__item__title {
			font-family: $proxima-black; //for the title in subcategory menu
			color: $black;

			@include breakpoint(small down) {
				margin-left: rem-calc(15);
			}
		}

		label {
			width: 70px;
			border-right: 1px solid $border-gray-color-opacity;
			margin: rem-calc(10) rem-calc(15) rem-calc(10) 0px;
			padding: 0;
			text-align: center;

			@include breakpoint(small down) {
				margin-right: 0px;
			}

			&:before {
				background: url("../../icons/arrowRed.svg") center center no-repeat
				transparent;
				content: " ";
				position: absolute;
				top: 18px;
				left: 0;
				height: 12px;
				background-size: contain;
				width: 17px;
			}
		}
	}

	input:checked ~ .footer-products--menu--submenu {
		border-top: 1px solid $border-gray-color-opacity;
		padding: 20px;

		li {
			color: $dark-red;
			font-weight: 700;
		}
		@include breakpoint(small down) {
			padding: 0;

			li {
				margin: 10px 20px;
				padding: 10px 0px;
			}
		}
	}

	.footer-products--menu--submenu {
		//menu that appears when clicking a menu link
		max-height: 0;
		overflow: hidden;
		position: relative;
		right: -400px;
	}

	input:checked ~ ul {
		max-height: none;
		right: 0;
		transition: 0.5s;
	}
}
