/*
	Info Grid that is used to display the data for the SEO pages (vehicle directory, tire size, wheel size)
*/
.infoGrid {
	display: flex;
	flex-direction: column;
	flex-flow: row wrap;
	width: 100%;
	padding-bottom: rem-calc(60);

	a {
		margin-bottom: rem-calc(25);
		column-width: 135px;
		max-width: 135px;
		margin-right: 20px;
		word-break: break-word;

		@include breakpoint(small down) {
			text-align: center;
		}
	}
}
