//Two Column layout that can be seen on the Credit Page
.twocolumn {
	display: flex;
	@include breakpoint(small down) {
		flex-direction: column;
	}

	&__column-1 {
		order: 1;
		@include breakpoint(small down) {
			order: 2;
		}
	}

	&__column-2 {
		order: 2;
		@include breakpoint(small down) {
			order: 1;
		}
	}
}

.grid-x-center {
	//place on a cell that should be centered
	margin: 0 auto;
}

//PDP Terms and Conditions styling
.terms-and-conditions h5 {
	margin-top: rem-calc(15);
}

.privacy-policy {

	h3 {
		margin-top: rem-calc(15);
	}

	h4 {
		margin-top: rem-calc(20);
	}
}

//CSS to handle layout of sitemap (sitemap.isml)
.sitemap {

	h4 {
		margin-bottom: rem-calc(30);
	}

	h5 {
		padding-left: rem-calc(25);
	}

	&__category {
		display: flex;
		flex-direction: column;
		padding-bottom: rem-calc(15);
		margin-bottom: rem-calc(40);
		border-bottom: 1px solid $border-gray-color-opacity;

		h5 {
			margin-bottom: 0;
			padding: 0;
		}

		ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin-top: rem-calc(25);

			li {
				width: 33%;
				padding-bottom: rem-calc(25);

				@include breakpoint(small down) {
					width: 50%;
				}
			}
		}
	}

	&__title {
		background: $light-gray;
		display: flex;
		justify-content: space-between;
		padding: 3px 25px;
		margin-bottom: 12px;
		margin-top: 12px;

		h5 {
			color: $dark-red;
			font-size: $font-size;
			padding: 0;
			margin: 0;
			line-height: 24px;
		}

		span {
			font-size: $small-font-size;
		}
	}

	h5.sitemap__title {
		font-size: $font-size;
	}

	&__stateList {
		display: flex;
		flex-wrap: wrap;
		padding: 0 25px;
	}

	&__store {
		display: inline-block;
		width: 32%;
		padding-top: 12px;
		padding-bottom: 12px;
		vertical-align: top;

		@include breakpoint(small down) {
			width: 50%;
		}

		h6 {
			font-size: $font-size;
		}

		> a {
			display: block;
			padding-left: rem-calc(30);
			padding-bottom: rem-calc(25);
		}
	}

	&__articleGroup {
		display: flex;
		flex-wrap: wrap;
		padding: 0 25px;
		margin-top: 25px;
		justify-content: space-between;

		a {
			width: 48%;
			padding-bottom: rem-calc(25);
		}
	}
}

.seoResults__bottom {
	//SEO page background image
	background: url("../../images/background-200px.png") repeat-x 0 0 transparent;
}
