/*
	This file contains legacy codebase support styles - in particular jquery ui dialog basic styling
*/
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: 100;
}

.ui-dialog {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.2em;
	outline: 0;
	background: #fff;
	padding: 17px 10px;
	z-index: 101;

	&-titlebar {
		padding: 0.4em 1em;
		position: relative;
		cursor: move;
		touch-action: none;

		&-close {
			position: absolute;
			right: 0.3em;
			top: 50%;
			width: 20px;
			margin: -10px 0 0 0;
			padding: 1px;
			height: 20px;
			font-size: 0;
		}
	}

	&-content {
		position: relative;
		border: 0;
		padding: 0.5em 1em;
		background: none;
		overflow: auto;
	}
}
