/*
	Store locator search bar, used on store locator page and header store dropdown
*/

.LocationSearchBar {
	display: flex;
	position: relative;
	width: 320px;
	flex-grow: 1;

	&__locationSearch {
		background: url("../../icons/locationArrow.svg") no-repeat 50% 50%;
		background-size: 16px 16px;
		background-color: transparent;
		border: 1px solid $border-gray-color-opacity;
		width: 36px;
		height: 36px;
		margin: 0;
		padding: 0;

		&:hover {
			background: url("../../icons/locationArrow.svg") no-repeat 50% 50%;
			background-size: 16px 16px;
			bottom: 0;
			box-shadow: none;
		}
	}

	&__magnifyingSearch {
		background: url("../../icons/search.svg") no-repeat 50% 50%;
		background-color: transparent;
		background-size: 16px 16px;
		width: 20px;
		height: 20px;
		margin: 0;
		padding: 0;
		border-left: none;
		position: absolute;
		top: 8px;
		right: 8px;

		&:hover {
			background: url("../../icons/search.svg") no-repeat 50% 50%;
			background-size: 16px 16px;
			bottom: 0;
			box-shadow: none;
		}
	}

	input {
		height: 36px;
		margin: 0;
		padding-right: 30px;
	}
	@include breakpoint(small down) {

		input::placeholder {
			font-size: 10px;
		}
	}
}
