/* For the Main Header of the site, we will use 1075px as the current tablet breakpoint.
   This value may change, depending on number of items in the header */
$navigationTabletBreakpoint: 1125px; //larger than normal for open search nav
$mobileBreakpoint: 768px;
$suggestionsExtraWidth: 65px;

//Navigation wrapper that includes both TopBar and the Navigation itself
.navigationWrapper {
	//z-index: 1;
	position: relative;
}

//Wrapper for the Nav component MainNav.es6
.navigation {
	display: flex;
	align-items: center;
	height: 74px;
	background: $white;
	position: relative;
	z-index: 20;
	padding: 0 30px;
	box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
	@include breakpoint($navigationTabletBreakpoint down) {
		height: 54px;
		padding: 0 20px;
	}

	&__logo {
		//Les Schwab Logo
		@include breakpoint($navigationTabletBreakpoint down) {
			display: none; //no longer want bottom nav logo
		}
		display: flex;
		align-items: center;
		justify-content: center;

		a {
			display: block;
			margin-right: 50px;
		}
	}

	&__billPay {
		//Bill Pay link that shows for MOBILE ONLY
		margin-top: rem-calc(15);
		margin-left: rem-calc(20);
		border: 1px solid $border-gray-color-opacity;
		display: table;
		padding: 5px 10px;

		@include breakpoint($mobileBreakpoint up) {
			display: none;
		}
	}

	&__menu {
		//wrapper for whole menu section of navigation
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		height: 100%;
		margin-right: rem-calc(35);

		&__hide {
			@include breakpoint($navigationTabletBreakpoint down) {
				display: none; // for when search is open
			}
		}

		&.navigation__search--open {
			@include breakpoint($navigationTabletBreakpoint down) {
				display: none;
			}
		}
		//mobile navigation panel
		@include breakpoint($mobileBreakpoint down) {
			display: none; //default, the menu is not shown

			&__mobileNavOpen {
				display: block;
				background: $white;
				-ms-flex-direction: column;
				flex-direction: column;
				min-height: 100vh;
				padding: 0 0 rem-calc(20) 0;
				position: fixed;
				width: 100%;
				height: 100%;
				top: 110px;
				left: 0;
				z-index: 2000;
				border-top: 1px solid $border-gray-color-opacity;
				overflow-y: scroll;

				.navigation__category {
					height: 50px;
					border-bottom: 1px solid $border-gray-color-opacity;
					padding: 0;
					position: relative;
					margin: 0 20px;

					&:after {
						content: ">";
						color: $gray;
						position: absolute;
						right: 5px;
						top: 15px;
					}

					&__back {
						display: none; //display hidden by default
					}

					&.navigation__category--open {
						margin: 0;

						&:after {
							display: none; //no li arrow for top level nav
						}

						> a:after,
						> .navigation__category__title:after {
							display: none; //no arrow after anchors
						}

						.navigation__category__back {
							display: block;
							line-height: 50px;
						}

						.navigation__category__title {
							font-family: $proxima-black;
							text-transform: uppercase;
							color: $black;
							pointer-events: none; //disable link
						}
					}

					&.navigation__category--noSubNav:after {
						display: none;
					}
				}
			}

			&__categoryIsOpen {
				//if a category is open, hide all other categories and bill pay link
				.navigation__category:not(.navigation__category--open),
				.billPayLink {
					display: none;
				}
			}
		}
	}

	//Catagory within the navigation menu
	&__category {
		display: flex;
		flex-direction: column;
		align-content: center;
		text-transform: capitalize;
		height: 100%;
		padding: 0 15px;

		&--open > .navigation__category__title:after {
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 9px 12px 9px;
			border-color: transparent transparent $white transparent;
			position: absolute;
			top: 48px;
			left: 50%;
			margin-left: -9px;
			margin-top: -8px;
			z-index: 30;
			box-shadow: 0px -5px 30px -10px rgba(0, 0, 0, 0.54);

			@include breakpoint($navigationTabletBreakpoint down) {
				top: 38px;
			}
		}

		& > &__title {
			vertical-align: middle;
			height: 100%;
			position: relative;
			height: auto;
			margin-top: auto;
			margin-bottom: auto;
			color: $dark-red;
			font-weight: bold;
			cursor: pointer;

			@include breakpoint(small down) {
				align-self: flex-start;
				display: table;
			}

			&:hover {
				color: $black;
			}
		}
	}

	//The dropdown for the navigation, when an category is open
	&__panel {
		position: absolute;
		width: 100%;
		min-height: 240px;
		padding: 30px 30px 20px 30px;
		background-color: $white;
		top: 100%;
		left: 0;
		border-top: 4px solid $yellow;
		box-shadow: 0px -5px 30px -10px rgba(0, 0, 0, 0.54);

		.error {
			padding: 40px;
		}

		@include breakpoint($mobileBreakpoint down) {
			background: url("../../images/background-200px.png") repeat-x 0 0
			transparent;
			box-shadow: none;
			border: none;
			padding: 20px 10px 180px;
			overflow: scroll;
			overflow-y: hidden;

			.cell {
				@include breakpoint(medium up) {
					margin-bottom: rem-calc(30);
				}

				&:first-of-type {
					margin-bottom: rem-calc(30);
				}
			}
		}

		&__bottom {
			border-top: 1px solid $border-gray-color-opacity;
			margin-top: rem-calc(15);
			padding-top: rem-calc(20);

			span {
				font-size: 14px;
				text-transform: none;
			}

			@include breakpoint($mobileBreakpoint down) {
				border: none;
			}
		}

		&__ctaButtons {
			//for CTAs on the right side (desktop view)
			.button {
				font-size: $tiny-font-size;
			}
		}

		.button {
			width: 100%;
		}

		h6 {
			//is actually a "h7"
			font-size: $font-size;
			margin-bottom: rem-calc(12);
		}

		.leftColumn {
			padding-right: rem-calc(40);
			border-right: 1px solid $border-gray-color-opacity;
			margin-right: rem-calc(30);

			p {
				text-transform: none;
			}
		}
	}

	//list of anchors, seen on the right side of the category panel
	&__productList {
		display: flex;
		flex-direction: row;
		max-height: 190px;
		flex-wrap: wrap;

		@include breakpoint($mobileBreakpoint down) {
			max-height: none;
			padding-bottom: rem-calc(30);
		}

		li {
			margin-bottom: rem-calc(15);
			width: 35%;
			@include breakpoint($mobileBreakpoint down) {
				padding-bottom: rem-calc(15);
				border-bottom: 1px solid $border-gray-color-opacity;
				width: 100%;

				&:last-of-type {
					border-bottom: none;
					padding-bottom: 0;
					margin-bottom: rem-calc(20);
				}
			}
		}
	}

	&__search {
		margin-left: auto;

		&--open {
			flex-grow: 1;
		}
	}
}

//class for the Search bar in the navigation
.search {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 80px;

	&__input {
		position: relative;

		form {
			align-items: center;
			display: flex;
		}

		&:before {
			background: url("../../icons/search.svg") no-repeat 0 0 transparent;
			content: "";
			height: 24px;
			width: 24px;
			position: absolute;
			left: -26px;
			top: 1px;
			z-index: 2;
		}

		&__cancel {
			font-size: $small-font-size;

			@include breakpoint($navigationTabletBreakpoint up) {
				display: none;
			}
		}

		& input {
			margin: 0;
			text-indent: 25px;
		}

		&--open {

			&:before {
				background: url("../../icons/search.svg") no-repeat 0 0 transparent;
				content: "";
				width: 24px;
				height: 24px;
				position: absolute;
				left: 6px;
				top: 7px;
				z-index: 2;
			}

			input {
				margin-right: rem-calc(10);
			}
		}

		&--showingSuggestions form:after {
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 9px 12px 9px;
			border-color: transparent transparent $white transparent;
			position: absolute;
			left: 7px;
			top: 46px;
			z-index: 100;

			@include breakpoint($navigationTabletBreakpoint down) {
				top: 36px;
			}
			@include breakpoint($mobileBreakpoint down) {
				display: none;
			}
		}

		&__clear {
			position: absolute;
			right: 20px;
			top: rem-calc(10);
			display: block;
			width: 16px;
			height: 16px;
			background: url("../../icons/closeIconWhite.svg") no-repeat 50% 50%
			$light-gray;
			border-radius: 50%;

			@include breakpoint($navigationTabletBreakpoint down) {
				display: none;
			}
		}

		&__suggestions {
			//suggestions panel that appears when someone is searching
			position: absolute;
			background: $white;
			padding: rem-calc(30);
			//width: rem-calc(620);
			top: calc(100% + 20px);
			right: -30px;
			border-top: 4px solid $yellow;
			box-shadow: 0px -5px 30px -10px rgba(0, 0, 0, 0.54);
			//suggestion extra width - how right the suggestions is
			//width: calc(100% + #{$suggestionsExtraWidth} + 30px);
			width: auto;
			min-width: 400px;

			@include breakpoint($navigationTabletBreakpoint down) {
				right: -20px;
				top: calc(100% + 10px);
				width: calc(100% + 40px); //padding of the left and right.
			}
			@include breakpoint($mobileBreakpoint down) {
				min-height: 100vh;
				position: fixed;
				width: 100%;
				height: 100%;
				top: 54px;
				left: 0;
				z-index: 2000;
				border: none;
				box-shadow: none;
				height: 100%;
				overflow-y: scroll;
				padding-top: rem-calc(10);
				padding-bottom: rem-calc(180);
			}

			//suggestion dropdown
			.suggestions__container {

				.suggestions__phrase {
					margin-bottom: rem-calc(20);

					span {
						margin: 0 2px;

						&.match {
						}

						&.corrected {
							font-weight: normal;
						}

						&.completed {
							font-style: italic;
							font-weight: normal;

							.original {
								font-weight: bold;
								margin: 0;
								text-decoration: underline;
							}
						}
					}
				}

				.suggestions__matches {
					display: flex;
					align-items: stretch;

					@include breakpoint($mobileBreakpoint down) {
						flex-direction: column;
					}

					&__products,
					&__pages {
						flex-grow: 1;
						min-width: 220px;
						@include breakpoint($mobileBreakpoint down) {
							width: 100%;
						}

						h6:not(:first-of-type) {
							margin-top: rem-calc(40);
						}
					}

					> :not(:only-child):not(:first-child) {
						margin-left: rem-calc(80);
						@include breakpoint($mobileBreakpoint down) {
							margin-left: 0;
						}
					}

					&__products .product-suggestion {
						padding-bottom: rem-calc(20);
						margin-bottom: rem-calc(20);

						display: flex;
						align-content: stretch;

						.product-image {
							flex-grow: 1;
							margin: 0 rem-calc(10);
						}

						.product-details {
							flex-grow: 3;
						}

						&:not(:last-child) {
							border-bottom: 1px solid $light-gray;
						}
					}

					&__pages li:not(:last-child) {
						margin-bottom: rem-calc(30);
					}
				}
			}
		}
	}
}
//Wrapper for the TobBar.es6 (the bar above the navigation)
.customerHeader {
	background: $white;
	display: flex;
	align-items: center;
	height: 40px;
	padding: 10px 30px;
	border-bottom: 1px solid $border-gray-color-opacity;
	position: relative;
	z-index: 30; //header below is 20, needs to be more than that

	@include breakpoint($mobileBreakpoint down) {
		justify-content: space-between;
		align-items: center;
		padding: 10px 0px;

		&__hide {
			display: none; //used when searching is active on mobile
		}
	}

	&__logo {
		display: none; //top nav item is off by default
	}

	//position styles for billPayLink for DESKTOP and TABLET
	&__billPay {
		position: absolute;
		right: 30px;
		top: calc(50% - 10px);
		@include breakpoint($navigationTabletBreakpoint down) {
			right: 20px;
		}
		@include breakpoint($mobileBreakpoint down) {
			display: none;
		}
	}

	@include breakpoint($navigationTabletBreakpoint down) {
		height: 60px;

		&__logo {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 40px;
			margin-right: 60px;

			a {
				display: block;
			}
		}
	}
	@include breakpoint($mobileBreakpoint down) {

		&__logo {
			margin-right: 0;
		}
	}

	&__location {
		//Wrapper for the "Store Location" for the user's current or nearest store
		position: relative;

		@include breakpoint($mobileBreakpoint down) {
			height: 32px;
			width: 36px;
			margin-right: 20px;
		}

		.myStoreDetails {
			box-shadow: $box-shadow;
			border-top: 4px solid $yellow;
			position: absolute;
			top: 30px;
			left: 0;
			background: $white;

			@include breakpoint($navigationTabletBreakpoint down) {
				top: 39px;
				left: -45px;
			}

			h6 {
				font-size: $font-size;
			}

			@include breakpoint($mobileBreakpoint down) {
				position: fixed;
				height: calc(100vh - 58px); //compensating for top value
				width: 100%;
				left: 0;
				top: 58px;
				border-top: 1px solid $border-gray-color-opacity;
				box-shadow: none;
				overflow: scroll;
				padding-bottom: rem-calc(80);
			}

			.myStoreDetails__top {
				padding: rem-calc(30);
				padding-bottom: 0;
				width: 575px;

				@include breakpoint($mobileBreakpoint down) {
					width: 100%;
				}

				.storeDetails__wrapper {
					padding-top: 0; //to override store details page padding
				}

				h6.header--sectionHeaderSmall {
					//sectionheader
					border-bottom: 1px solid $border-gray-color-opacity;
					margin-bottom: rem-calc(15);
					padding-bottom: rem-calc(15);
				}

				.storeDetails__information {
					margin-top: rem-calc(20);

					@include breakpoint(small down) {
						margin-top: rem-calc(50);
					}

					section:last-of-type {
						position: relative;

						img {
							//manager
							position: relative;
							width: 175px;
							position: absolute;
							right: 0;
							bottom: -16px;
						}
					}
				}
			}

			.myStoreDetails__bottom {
				background: url("../../images/background-200px.png") repeat-x 0 0
				transparent;
				padding: rem-calc(30) rem-calc(20);

				.storeSearch__form {
					padding: 0;
					border: 0;
				}
			}
		}
	}

	&__location--full {
		//wrapper for the text itself, that is clicked to open the location panel
		display: flex;
		align-items: center;
		height: 100%;

		@include breakpoint($mobileBreakpoint down) {
			display: none;
		}

		address {
			color: $blue;
			cursor: pointer;
			font-size: $small-font-size;
			font-weight: bold;
			position: relative;
			left: 10px;
			margin-bottom: 0;
			@include breakpoint($navigationTabletBreakpoint down) {
				left: 0;
			}

			&:before {
				background: url("../../icons/pin.svg") no-repeat 0 0 transparent;
				content: " ";
				width: 30px;
				height: 25px;
				position: relative;
				left: -5px;
				top: 0;
				background-size: contain;
				display: inline-block;
				vertical-align: middle;
			}

			&:after {
				background: url("../../icons/accordionArrow.svg") no-repeat 0 0
				transparent;
				content: " ";
				width: 9px;
				height: 9px;
				position: relative;
				right: -15px;

				/* top: 7px; */
				display: inline-block;
				vertical-align: middle;
			}

			&.customerHeader__location__address--open:after {
				background: url("../../icons/openAddressArrows.svg") no-repeat 0 0;
				background-position: top;
				width: 23px;
				height: 10px;
				right: -8px;
				z-index: 1;
			}
		}
	}

	&__location--icon {
		//icon for the text that displays the store in the TopBar
		display: none;
		@include breakpoint($mobileBreakpoint down) {
			display: block;
		}
	}

	//for mobile hamburger button
	&__buttonWrapper {
		@include breakpoint($mobileBreakpoint down) {
			display: block;
			width: 70px; //to match large size of Close Icon
		}
	}

	&__hamburger {
		//mobile hamburger
		display: none;

		@include breakpoint($mobileBreakpoint down) {
			display: block;
			margin-left: 20px;
		}
	}

	&__location--openIcon {
		border-bottom: 4px solid $yellow;
	}

	&__hamburger--open {
		border-bottom: 4px solid $yellow;
		position: relative;
	}
	//for the login button/overlay on top right of desktop view
	&__login {
		position: absolute;
		right: 30px;

		& > span,
		& > a {
			color: $blue;
			display: flex;
			font-size: $small-font-size;

			&:before {
				background: url("../../icons/user.svg") no-repeat 0 0 transparent;
				content: " ";
				display: block;
				height: 20px;
				width: 25px;
				position: relative;
			}
		}

		&__overlayTrigger {
			//used for the overlay trigger
			cursor: pointer;
			display: flex;
			align-items: center;
			font-weight: bold;
			font-size: $small-font-size;
			text-indent: -3px;

			&:after {
				background: url("../../icons/accordionArrow.svg") no-repeat 0 0
				transparent;
				background-position: right;
				content: " ";
				display: block;
				width: 23px;
				height: 6px;
				position: relative;
				right: 0px;
				top: 0px;
			}

			&--open {

				&:after {
					background: url("../../icons/openAddressArrows.svg") no-repeat 0 0;
					background-position: top;
					width: 23px;
					height: 27px;
					right: -8px;
					top: 10px;
					z-index: 101;
				}
			}
		}

		&__overlay {
			background: $white;
			box-shadow: $box-shadow;
			border-top: 4px solid $yellow;
			height: 245px; //temporary, waiting for all content
			top: 29px;
			right: -30px;
			position: absolute;
			padding: 30px;
			min-width: 70vw;
			z-index: 100;

			@include breakpoint($mobileBreakpoint down) {
				width: 100%;
			}
		}
	}

	& ~ header {
		//wrapper for header below this header
		display: block;
		position: relative;
		z-index: 20;
	}

	&__mobile {
		height: 67px;

		&__login {
			display: flex;
			align-items: center;
			position: relative;
			right: 0;
		}
	}
}

//secondary account nav that is seen on the account pages
.secondary-navigation {

	h5 {
		margin-top: -5px;
		@include breakpoint(small down) {

			h5 {
				margin: 0;
			}
		}
	}

	ul {
		list-style: none;
		@include breakpoint(small down) {
			display: flex;
			justify-content: space-between;
		}

		li {
			@include breakpoint(small down) {
				width: 33%;
			}

			a {
				padding: 10px 0;
				width: 100%;
				display: block;
				@include breakpoint(small down) {
					text-align: center;
					padding: 0;
					margin: 15px 0;
				}
			}

			&.active {
				@include breakpoint(medium up) {

					a {
						background: $light-gray;
						border-left: 4px solid $yellow;
						border-radius: 2px;
						padding-left: 15px;
						color: $black;

						@include breakpoint(small down) {
							background: white;
							border: none;
							color: $red;
							padding: 0;
						}
					}
				}
				@include breakpoint(small down) {
					border-bottom: 4px solid $yellow;
					border-radius: 2px;

					a {
						color: $black;
					}
				}
			}

			&:last-of-type {
				border-top: 1px solid $border-gray-color-opacity;
				padding-top: 10px;
				margin-top: 10px;

				@include breakpoint(small down) {
					border-top: none;
					padding: 0;
					margin: 0;

					a {
						border-left: 1px solid $border-gray-color-opacity;
					}
				}
			}
		}
	}
}

//Bill Pay link general styles for TopBar and MainNav
.billPayLink {
	color: $blue;
	font-size: $small-font-size;
	position: relative;

	&:before {
		background: url("../../icons/billPay.svg") no-repeat 0 0 transparent;
		content: " ";
		width: 20px;
		height: 20px;
		position: relative;
		left: -5px;
		top: -1px;
		background-size: contain;
		display: inline-block;
		vertical-align: middle;
	}

	&:hover,
	&:visited {
		color: $blue;
	}
}

.backLink {
	//Back link within the vehicle selector
	padding: 0 15px 0 20px;
	margin-right: 15px;
	border-right: 1px solid $border-gray-color-opacity;
	position: relative;
	text-indent: 10px;

	&:before {
		content: "";
		display: inline-block;
		background: url("../../icons/arrowRed.svg") no-repeat center center
		transparent;
		background-size: contain;
		width: 16px;
		height: 16px;
		border: 2px solid transparent;
		position: relative;
		left: -10px;
		top: 3px;
	}
}

a[class^="warrantyLink"],
a[class^="brochureLink"] {
	position: relative;

	&:after {
		background: url("../../images/pdf.png") no-repeat 0 0 transparent;
		content: "";
		background-size: cover;
		height: 16px;
		width: 16px;
		position: relative;
		right: -10px;
		display: inline-block;
		vertical-align: text-top;
	}
}
