@media print {

	button,
	.button,
	:before,
	:after,
	.banner__image img,
	.show-for-small-only,
	.promotion,
	.footer,
	.topBar,
	.visualizer {
		display: none !important;
	}

	.banner__image {
		height: auto !important;

		.banner__top__information {
			width: 100% !important;
		}

		> * {
			color: $black !important;
		}
	}

	.banner__information--bottom,
	.banner__top__information {
		position: static !important;
		width: 100% !important;
		margin-bottom: 10px !important;
	}

	figure {

		figcaption {
			border: none !important;
		}
	}

	.article h5,
	.storeDetails,
	.splitFigure__imageContainer__heading {
		position: static !important;
	}

	.communityServices,
	.slot {
		page-break-before: always;
	}

	.productInfo {
		page-break-after: always;
	}

	.grid-tile {
		page-break-inside: avoid;
	}
}
