/*
	Used for the productgrid templates, which can be seen on the tires/wheels/search results pages.
*/
#landing-producthits,
.search-result-content {
	width: 100%;

	.search-result-items {
		//on snow chains landing page
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.grid-tile {
			@include xy-cell(4);
			// @include xy-gutters($gutter-type: 20, $gutter-position: left right);
			margin-bottom: rem-calc(20);

			@include breakpoint(medium down) {
				@include xy-cell(6);
			}
			@include breakpoint(small down) {
				@include xy-cell(12);
			}
		}
	}

	.vehicleType {
		display: flex;
	}

	select {
		width: 300px;
		font-weight: bold;
		position: relative;
		color: $blue;

		@include breakpoint(small down) {
			width: 100%;
			margin: 0 rem-calc(10) rem-calc(20) rem-calc(10);
		}
	}
}

//Product tile itself
.product-tile {
	border: 1px solid $border-gray-color-opacity;
	height: 100%;
	position: relative;

	.product-tile__badge {
		position: absolute;
		top: -5px;
		left: -1px;
		@include yellowBadge;
	}

	&__detailsTop {
		//Top half of the product
		//top wrapper for gray background area for image and text
		background: $light-gray;
		min-height: 160px;
		padding: 35px 35px 10px 100px;
		position: relative;
		overflow: hidden;

		.product-image-section {
			overflow: hidden;
			height: 180px;
			width: 180px;
			max-height: 100%;
			position: absolute;
			left: -90px;
			text-align: right;
			bottom: -20px;

			img {
				width: auto;
				max-height: 100%;
				max-width: 100%;
			}
		}

		&__overview {
			//display: flex;
			//flex-direction: column;
			li {
				font-size: $tiny-font-size;
				color: $gray;
			}

			.product-features {
				display: flex;
				flex-direction: row;
				font-weight: bold;

				li + li {
					margin-left: 14px;
				}

				li {
					position: relative;
					padding-left: 20px;

					&:before {
						content: "";
						position: absolute;
						display: block;
						top: 50%;
						margin-top: -8px;
						left: 0;
						width: 16px;
						height: 16px;
						background-size: contain;
						background-position: center center;
						background-color: transparent;
						background-repeat: no-repeat;
					}

					&.durability:before {
						background: url("../../icons/performance/Durability.svg");
					}

					&.handling:before {
						background: url("../../icons/performance/Handling.svg");
					}

					&.ice:before {
						background: url("../../icons/performance/Ice.svg");
					}

					&.onoffroad:before {
						background: url("../../icons/performance/OnOffRoad.svg");
					}

					&.quiet:before {
						background: url("../../icons/performance/Quiet.svg");
					}

					&.smooth:before {
						background: url("../../icons/performance/Smooth.svg");
					}

					&.snow:before {
						background: url("../../icons/performance/Snow.svg");
					}

					&.traction:before {
						background: url("../../icons/performance/Traction.svg");
					}

					&.wet:before {
						background: url("../../icons/performance/Wet.svg");
					}
				}
			}

			.product-type {
				color: $black;
				font-size: $small-font-size;
				font-family: $proxima-black;
				font-weight: bold;
				//TODO: icons go here
			}

			.product-brand {
				font-family: $proxima-black;
				color: $black;
				font-size: 14px;
			}

			.product-name {
				color: $blue;
				font-size: 20px;
				line-height: 22px;
				font-family: $proxima-black;
			}

			.product-description {
				font-size: $tiny-font-size;
				margin-top: auto;
			}
		}
	}

	&__content {
		font-size: $tiny-font-size;
		padding: rem-calc(10) rem-calc(20);
	}

	&__footer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}

.product__price__onsale {
	position: relative;
	float: right;
	color: $red;
	font-family: $proxima-black;
	font-size: 10px;
	font-weight: 900;
	text-transform: uppercase;

	&:before {
		content: "";
		display: inline-block;
		width: 12px;
		height: 12px;
		margin-right: 5px;
		background: url("../../icons/saleTagRed.svg") no-repeat 50% 50% transparent;
		background-size: contain;
	}
}

.product-tile--withDetails {
	@include breakpoint(small down) {

		&.opened {
			border-bottom: none;

			.product-info .product-info-toggle {
				padding-bottom: 10px;
			}
		}
	}

	.product-info {

		.product-info-toggle {
			width: 100%;
			display: block;
			padding: 20px;
			text-align: left;
			color: $black;
			font-weight: bold;
			cursor: pointer;
		}
	}
}

//Panel used to show "more product info", on pages like batteries and shocks.
//Creates a panel, with tabs for content and an image of the product.
.product-info-panel {
	max-height: 0;
	overflow: hidden;
	box-shadow: $box-shadow;
	margin-top: 20px;
	position: relative;

	@include breakpoint(small down) {
		box-shadow: none;
	}

	&--opened {
		//panel is open so display it
		max-height: 50em;
		padding: rem-calc(60) 0;

		@include breakpoint(small down) {
			padding: 0 rem-calc(15) rem-calc(20) rem-calc(15);
			margin-top: 0;
			left: 0 !important;
			width: 100% !important;
			border: 1px solid $border-gray-color-opacity;
			border-top: none;
		}
	}

	.product-brand {
		font-size: 20px;
		line-height: 20px;
		font-family: $proxima-black;
		margin-bottom: 10px;
		color: $black;

		@include breakpoint(small down) {
			display: none;
		}
	}

	.product-name {
		color: $black;
		font-size: 36px;
		line-height: 36px;
		font-family: $proxima-black;

		@include breakpoint(small down) {
			display: none;
		}
	}

	.product-image-section {
		display: flex;

		img {
			margin-bottom: auto;
			margin-left: auto;
			margin-right: auto;
			max-height: 240px;
		}
	}

	.product-details {

		ul {
			margin-bottom: rem-calc(25);

			li {
				margin-bottom: rem-calc(5);
			}
		}

		.button {
			margin-top: 20px;
			width: auto;
		}

		&-warrantyHeader {
			color: $black;
			font-family: $proxima-black;
		}
	}

	.ui-tabs-panel {
		padding: 0;
	}

	.tab-navigation {
		//tab wrapper
		display: flex;
		margin: rem-calc(20) 0 rem-calc(30) 0;
		height: 40px;
		border-bottom: 1px solid $border-gray-color-opacity;

		@include breakpoint(small down) {
			margin-top: 0;
		}

		li {
			margin-right: 30px;
		}

		.ui-tabs-active {
			border-bottom: 4px solid $yellow;

			a {
				color: $black;
			}
		}

		input[type="radio"] {
			visibility: hidden;
			display: none;
		}

		.ui-tabs-anchor {
			padding: 0;
			float: none;
		}
	}
}
