/*
	Social links that show on the footer and article pages
*/
.social-links {
	display: flex;
	justify-content: space-between;
	min-width: 160px;

	a,
	button {
		display: block;
		width: 36px;
		height: 36px;
	}

	li {
		margin: 0 auto;

		&:first-child {
			margin-left: 0;
		}
	}

	.facebook {
		background: url("../../icons/facebook-social.svg") no-repeat 0 0 transparent;
	}

	.twitter {
		background: url("../../icons/twitter.svg") no-repeat 0 0 transparent;
	}

	.youtube {
		background: url("../../icons/youtube.svg") no-repeat 0 0 transparent;
	}

	.google-plus {
		background: url("../../icons/google-plus.svg") no-repeat 0 0 transparent;
	}

	.email {
		background: url("../../icons/email.svg") no-repeat 0 0 transparent;
	}

	.share-link {
		background: url("../../icons/share-link.svg") no-repeat 0 0 transparent;
	}

	&.reverse {
		flex-direction: column;
		@include breakpoint(small down) {
			flex-direction: row;
			width: 100%;
		}

		li {
			margin-bottom: rem-calc(20);

			@include breakpoint(small down) {
				margin-right: 0;
			}
		}
	}

	&--column {
		min-width: auto;
		flex-direction: column;

		li {
			margin-bottom: rem-calc(10);
		}
	}
}

//URL that needs to be copied in socialshare.isml's
#copyURL {
	position: absolute;
	overflow: hidden;
	font-size: 16px;
	clip: rect(0 0 0 0);
	height: 100px;
	width: 100px;
	margin: -100px;
	padding: 0;
	border: 0;
}
