/*
	CSS for /StoreSearchForm.es6
	Can be seen on the Store Locator page
*/
.storeSearch__form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: rem-calc(27) rem-calc(32);
	border-bottom: 1px solid $border-gray-color-opacity;

	h6 {
		margin: 0;
		margin-right: rem-calc(30);
		flex-shrink: 0;
	}

	fieldset {
		display: none;
	}
}
