/*
	Store Details Page styling
*/
.storeDetails {

	address {
		position: relative;
	}

	&--brief {
		padding: rem-calc(20) rem-calc(30);
	}

	&--pdp {
		@include breakpoint(medium up) {
			padding: rem-calc(30);
			background: $white;
			box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
		}
	}

	&--extended {
		margin-bottom: rem-calc(50);

		.storeSearch__map {
			height: auto;
			min-height: 270px;
			@include breakpoint(small down) {
				min-height: auto;
				height: rem-calc(120);
			}
		}
	}

	&--confirmation {
		padding: rem-calc(20);
		background-color: $light-gray;
		display: flex;
		flex-flow: row wrap;
		align-items: stretch;
		justify-content: space-evenly;

		.confirmationHeader {
			display: flex;
			align-items: stretch;
			justify-content: flex-start;
			margin-bottom: rem-calc(20);
			width: 100%;

			&:before {
				background: url("../../icons/pin.svg") no-repeat center center
				transparent;
				content: " ";
				display: block;
				flex-grow: 1;
				min-width: 35px;
				margin-right: rem-calc(20);
				background-size: contain;
			}

			&__text {
				margin-bottom: 0;
				font-size: rem-calc(16);
				flex-grow: 1;

				strong {
					display: block;
					color: $red;
				}
			}
		}

		&--full {
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;

			.confirmation__child {
				flex-grow: 1;
				flex-shrink: 1;
				//max-width: 33%;
				margin-bottom: 0;

				&:not(:first-child) {
					margin-left: rem-calc(20);
				}

				&.button-group {
					white-space: nowrap;
				}
			}
		}
	}

	.storeDetails__streetName {
		color: $black;
		font-weight: bold;
		display: block;
		font-family: $proxima-black;
	}

	.storeDetails__detailsLink {
		display: block;
		margin-bottom: rem-calc(15);
	}

	.storeDetails__mobileDetailsLink {
		position: absolute;
		display: block;
		top: 0;
		right: 0;
		width: 16px;
		height: 16px;
		background: url("../../icons/arrowGray.svg") no-repeat center center
		transparent;
		background-size: contain;
		cursor: pointer;
		transition: scale 0.5s;

		&:hover {
			transform: scale(1.2);
		}

		@include breakpoint(medium up) {
			display: none;
		}
	}

	.storeDetails__storeHeader {
		color: $blue;
		display: block;
		font-size: $small-font-size;
		text-indent: 16px;
		position: relative;

		&:before {
			background: url("../../icons/pinWithoutBox.svg") no-repeat 0 0 transparent;
			background-position: center;
			content: "";
			width: 16px;
			height: 16px;
			display: block;
			background-size: cover;
			position: absolute;
			top: 4px;
			left: -4px;
		}
	}

	.changeCta {
		float: right;
	}

	.storeDetails__button {
		font-size: $tiny-font-size;
		display: inline-block;
		width: auto;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		font-size: $tiny-font-size;

		@include breakpoint(small down) {
			width: 100%;
			margin-right: rem-calc(15);
		}

		&:first-of-type {
			margin-right: rem-calc(15);
			@include breakpoint(small down) {
				margin-bottom: rem-calc(15);
			}
		}

		button {
			width: auto;
			margin: 0;
			@include breakpoint(small down) {
				width: 100%;
			}
		}
	}

	&__header {
		@include clearfix;
		border-bottom: 1px solid $border-gray-color-opacity;
		padding-bottom: $global-vertical-padding;
		margin-bottom: $global-vertical-padding;

		&__title {
			float: left;
			margin-bottom: 0;
		}

		&__changeCta {
			float: right;
			text-transform: capitalize;
		}
	}

	& address span {
		//address
		display: inline-block;
		margin-right: rem-calc(10);
		margin-bottom: rem-calc(2);

		&.storeDetails__distance {
			float: right;
		}
	}

	&__cta {
		margin-top: rem-calc(10);
	}

	.storeDetails__contact {
		display: flex;
		margin-bottom: rem-calc(20);

		@include breakpoint(small down) {
			padding-top: rem-calc(15);
			flex-wrap: wrap;
		}

		> * {
			flex-shrink: 0;
			margin-right: 10px;
			padding-right: 10px;
			border-right: 1px solid $border-gray-color-opacity;

			@include breakpoint(small down) {
				border: none;
				width: 49%;
				margin-right: 1%;
				padding-right: 1%;
				text-align: center;
				line-height: 40px; //for the Opening Soon text on mobile

				.button {
					width: 100%;
					margin: 0;
					font-size: 11px; //for the text to fit on one line
				}
			}
		}

		li:last-of-type {
			border: none;
		}
	}

	.storeDetails__description {
		display: block;
		margin-bottom: rem-calc(20);
	}

	.MakeMyStore {
		display: inline-block;
		vertical-align: middle;
		@include breakpoint(small down) {
			margin: 0;
			width: 100%;
		}
	}
}

.storeList {

	.storeDetails {
		position: relative;
		cursor: pointer;

		&.storeDetails--selected {
			background: $light-gray;
			border-left: 4px solid $yellow;
			border-right: none;
			padding-left: rem-calc(26);

			&:before,
			&:after {
				left: 0;
				right: 0;
			}
		}

		&:hover {
			background-color: rgba(242, 243, 244, 0.5);

			&:before,
			&:after {
				left: 0;
				right: 0;
			}
		}

		&:before,
		&:after {
			content: "";
			background-color: #dbdde0;
			left: 30px;
			right: 30px;
			height: 1px;
			display: block;
			position: absolute;
		}

		&:before {
			top: -1px;
		}

		&:after {
			bottom: 0;
		}
	}

	//General SCSS for StoreList Component when there is an error
	&.storeList--noResults {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 500px;

		@include breakpoint(medium down) {
			height: 300px;
		}
		@include breakpoint(small down) {
			height: 175px;
		}

		.storeList__noResultsMessage {
			color: $gray;
			margin: 0;
			text-align: center;

			&:before {
				background: url("../../icons/pinNoStores.svg") no-repeat 0 0 transparent;
				background-position: center;
				content: "";
				display: block;
				height: 60px;
				width: 60px;
				position: relative;
				left: calc(50% - 30px);
				bottom: 10px;
			}
		}
	}
}

.MakeMyStore {

	label {
		margin: 0;
	}

	@include breakpoint(small down) {
		width: 100%;
	}

	&--selected {
		font-size: $small-font-size;
		color: $blue;
		display: block;
		font-weight: bold;
		position: relative;
		text-indent: 25px;

		&:before {
			background: url("../../icons/blueCheckMark.svg") no-repeat 0 0 transparent;
			background-position: 50%;
			content: "";
			display: block;
			height: 19px;
			width: 18px;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}

.storeDetails__wrapper {
	margin-right: rem-calc(40);
	position: relative;

	img {
		//manager image
		max-width: 175px;
		max-height: 190px;
		position: relative;
		float: right;
		margin-top: rem-calc(-120);

		@include breakpoint(small down) {
			max-width: 150px;
		}
	}
}

.storeDetails__information {
	margin-top: rem-calc(50);
	@include breakpoint(small down) {
		margin-top: rem-calc(40);
	}

	section {
		position: relative;
	}
}

.storeDetails--tiny .button {
	margin-top: rem-calc(20);

	@include breakpoint(small down) {
		margin: 0;
		width: 100%;

		&:last-of-type {
			margin-top: rem-calc(20);
		}
	}
}

//Wrapper for Store Details Styles
.pt_storedetails {

	.pt_storedetails__header {
		background: #f2f3f4;
		padding: rem-calc(20) 0;
		position: relative;

		.backLink {
			border-right: none;
			margin-bottom: 20px;
			display: inline-block;
			padding: 0;
		}

		h1 {
			//max-width: calc(#{$global-width});
			//padding: 0 rem-calc(5);
			display: block;
			margin: 0 auto;
			font-size: 24px;

			@include breakpoint(small down) {
				font-size: 20px;
				padding: 0 rem-calc(20);
				text-align: center;
			}
		}
	}

	.storeDetails__wrapper {
		padding-top: rem-calc(45);
	}

	.storeSearch__map {
		height: 268px;

		@include breakpoint(small down) {
			height: 140px;
		}
	}
	@include breakpoint(small down) {

		.storeDetails__storeImage {
			display: none;
		}
	}

	&__bottom {
		background: url("../../images/background-200px.png") repeat-x 0 0
		transparent;
	}

	.information-module {
		@include breakpoint(small down) {
			background: none;
		}
	}
}

//community module
.communityPromo {
	display: block;
	margin-top: rem-calc(50);
	margin-bottom: rem-calc(50);

	&__informationWraper {
		display: flex;
		justify-content: space-between;
		position: relative;

		@include breakpoint(small down) {
			flex-direction: column;
		}

		> div {
			//wrapper for left side
			width: 100%;
			margin-right: 5%;
			align-self: flex-start;
			position: relative;

			ul {
				width: 100%;
				margin-right: 5%;
				list-style: none;
				display: flex;
				flex-wrap: wrap;
				align-content: flex-start;
				align-self: flex-start;

				li {
					width: 50%;

					&:before {
						content: "•";
						color: $red;
						display: inline-block;
						width: 0.75em;
					}
				}

				@include breakpoint(small down) {
					order: 2;
					width: 100%;
				}
			}

			a {
				position: absolute;
				bottom: -30px;

				@include breakpoint(small down) {
					position: relative;
					top: 10px;
					margin: 0 auto;
					text-align: center;
					display: block;
				}
			}
		}

		figure {
			display: table;

			@include breakpoint(small down) {
				order: 1;
				margin-bottom: rem-calc(10);
				margin-left: auto;
				margin-right: auto;
				margin-top: rem-calc(30);
			}

			figcaption {
				display: table-caption;
				caption-side: bottom;
				text-align: center;
				background: $light-gray;
				padding: rem-calc(10);
			}

			img {
				max-height: 300px;
				max-width: 300px;

				@include breakpoint(small down) {
					max-height: 200px;
				}
			}
		}
	}
}

.communityServices {
	margin-bottom: rem-calc(50);
	border-bottom: 1px solid $border-gray-color-opacity;
	padding: rem-calc(30) 0 rem-calc(40);

	@include breakpoint(small down) {
		margin-bottom: rem-calc(10);
		padding-bottom: 0;
		border: none;
	}

	label {
		color: $blue;
		font-family: $proxima-black;
		margin: 0 0 rem-calc(5) 0;
	}

	@include breakpoint(medium up) {

		.input--withAccordionArrow[type="checkbox"] + label:after {
			content: none;
		}
	}

	& > ul {
		//ul for group of categorys themseleves
		display: flex;
		flex-wrap: wrap;

		& > li {
			width: 33%;

			@include breakpoint(small down) {
				width: 100%;
				border: 1px solid $border-gray-color-opacity;
				margin-bottom: rem-calc(10);
				display: flex;
				align-items: center;
				flex-direction: column;

				label {
					text-transform: uppercase;
					margin: 0;
					padding: rem-calc(20);
					width: 100%;
				}
			}

			&:nth-child(3n + 3) {
				margin-right: 0;
			}

			ul {
				//service list within category
				padding-bottom: rem-calc(25);

				@include breakpoint(small down) {
					max-height: 0;
					padding: 0;
					overflow: hidden;
				}

				li {

					&:before {
						content: "•";
						color: $red;
						display: inline-block;
						width: 0.75em;
					}
				}

				a {
					font-weight: bold;
				}
			}
			@include breakpoint(small down) {

				input:checked ~ ul {
					max-height: 50em;
					width: 100%;
					padding: 0 rem-calc(40) rem-calc(20) rem-calc(40);
				}
			}
		}
	}
}
