/*
	CSS for VehicleInfo.es6
	Can be seen on the /tires/tire results page
*/

.vehicleInfo {
	display: flex;
	align-items: stretch;
	margin: rem-calc(20) rem-calc(30);

	& > h3 {
		font-size: 20px;
	}

	&__image {
		width: rem-calc(100);
		overflow: hidden;
		margin-right: rem-calc(20);

		img {
			width: 100%;
			height: auto;
			max-height: 100%;
		}

		&:empty:not(&--tire):not(&--wheel) {
			background: url("../../icons/noVehicleSet.svg") no-repeat center center
			transparent;
			background-size: contain;
		}

		&--tire {
			width: 32px;
			height: 32px;
			background: url("../../icons/tires.svg") no-repeat center center
			transparent;
			background-size: contain;
		}

		&--wheel {
			width: 32px;
			height: 32px;
			background: url("../../icons/wheels.svg") no-repeat center center
			transparent;
			background-size: contain;
		}
	}

	&__text {
		margin-bottom: 0;

		small {
			margin: 0 5px 0 10px;
			font-family: $proxima;
			font-weight: normal;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	&__edit {
		display: block;
		width: 15px;
		height: 18px;
		margin-left: rem-calc(10);
		background: url("../../icons/pencil.svg") no-repeat 50% 50% transparent;
		background-size: contain;
		cursor: pointer;
		transition: scale 0.5s;

		&:hover {
			transform: scale(1.2);
		}
	}
}

/* Edit dialog styling */
.vehicleEditDialog {
	max-width: 632px;
	min-height: 400px;
	max-height: 100%;
	overflow-y: auto;
	padding: 60px 80px;
	background-color: $white;
	box-shadow: $box-shadow;
	position: relative;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	&--loading:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 80px;
		height: 80px;
		transform: translate(-50%, -50%);
		background: url("../../icons/loading.svg") no-repeat 50% 50% transparent;
		background-size: contain;
	}

	&__closeButton {
		@include closeButton;
		top: 20px;
		right: 20px;
		transition: scale 0.5s;

		&:hover {
			transform: scale(1.2);
		}
	}
	@include breakpoint(small down) {
		padding: 20px;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transform: none;
		max-width: 100vw;
	}
}
