/*
	Components related to the Vehicle Selector
*/
.selector {

	&__header {
		//for the header of the navigation's vehicle selector
		border-bottom: 1px solid $border-gray-color-opacity;
		padding-bottom: 14px;
		margin-bottom: 30px;

		:last-child {
			margin-bottom: 0;
		}
	}

	&--mobile figure {
		margin-bottom: rem-calc(20);

		h6 {
			color: $black;
		}
	}

	&__helpLabel {
		margin-bottom: rem-calc(20);
	}
}

.titleAndCrumbs {
	width: 70%;

	h6 {
		display: inline;
		font-size: $font-size;
		padding-right: 15px;
		margin: 0 15 0 0;
		border-right: 1px solid $border-gray-color-opacity;
	}

	section {
		display: inline;
	}

	a,
	span {
		padding-left: 15px;
		margin-right: 15px;
		position: relative;
		font-size: $tiny-font-size;
	}

	span {
		color: $gray;
		font-weight: bold;
	}

	a:after {
		content: "";
		background: url("../../icons/arrowGray.svg") no-repeat 0 0 transparent;
		background-size: contain;
		display: inline;
		height: 11px;
		width: 8px;
		position: absolute;
		right: -19px;
		top: calc(50% - 6px);
	}

	.VSToggleButton__wrapper {
		display: inline;
		margin-right: rem-calc(20);

		a.VSToggleButton {
			display: inline-block;
			padding: rem-calc(8) rem-calc(12);
			font-weight: bold;
			color: $blue;
			border: 1px solid $border-gray-color-opacity;
			font-size: $small-font-size;
			margin: 0;
			border-radius: 2px;

			&__isActive {
				color: $white;
				background: $blue;
			}

			&:after {
				content: none;
			}
		}
	}
}

.rearAxleHelpTip {
	text-transform: none;
	margin-top: 20px;
}

/*
	CSS for VehicleSelectorGrid.es6, which controls the grid of the VS for desktop/tablet
*/
.vehicleSelectorGrid {
	position: relative;
	max-height: 475px;
	min-height: 320px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	&--rightColumn {
		margin-right: 300px;
	}

	ul {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		padding: rem-calc(10) 0 rem-calc(20) 0;
		//margin: 0 rem-calc(20);
		position: relative;
	}

	&--justifyLeft ul {
		align-content: flex-start;
	}

	&--fixedHeight ul {
		min-height: 310px;
		max-height: 320px;
	}

	ul > li {
		display: flex; //to make them correct width

		> a {
			display: block;
			height: 39px;
			min-width: 16.67%;
			//min-width: 80px;
			line-height: 39px;
			padding-left: 15px;
			padding-right: 15px;

			&:hover,
			&.gridItem--active {
				background: $light-gray;
				color: $black;
				position: relative;
				border-left: 4px solid #fdc203;
				padding-left: 11px;
				border-top-left-radius: 2px;
				border-bottom-left-radius: 2px;
			}
		}

		&.VSErrorMessageLi {
			width: 60%;

			.VSErrorMessage {
				padding-left: rem-calc(15);
			}
		}
	}

	.button {
		display: table;
		width: auto;
		align-self: flex-start;
	}

	.carousel__button {
		display: block;
		position: absolute;
		top: calc(50% - 10px);
		width: 20px;
		height: 20px;
		background: url("../../icons/arrowBlueRight.svg") no-repeat center center
		transparent;
		cursor: pointer;
		z-index: 2;

		&--prev {
			transform: scaleX(-1);
			left: -25px;
		}

		&--next {
			left: auto;
			right: 2px;
		}
	}

	.vehicleSelectorMessage {
		margin: rem-calc(20) 0;
	}

	.vehicleSelectorGridMessage {
		margin-top: auto;
	}
}

//Error Message that can be seen in the Grid and also Tire/Wheel flow
.VSErrorMessage {
	width: 100%;
	display: block;
	text-transform: none;
}

//Right Column image for VS that appears when on certain stages of the selection process
.vehicleSelectorGridImageWrap {
	position: absolute;
	left: 100%;
	top: 0;
	width: 300px;
	border-left: 1px solid $border-gray-color-opacity;
	height: 350px;
	top: -20px;
	padding-left: rem-calc(50);

	@include breakpoint(medium down) {
		width: 200px;
		left: 110%;
	}
}

.vehicleSelectorHintImage {
	margin-top: rem-calc(8);
	@include breakpoint($mobileBreakpoint down) {
		display: block;
		margin-bottom: rem-calc(15);
		width: 80%;
		margin: 0 auto;
	}
}

.vehicleSelectorMessage {
	@include breakpoint($mobileBreakpoint down) {
		display: block;
		margin: rem-calc(10) 0 rem-calc(20) 0;
	}
}

.vehicleSelectorGridMessage {
	@include breakpoint($mobileBreakpoint down) {
		border-top: 1px solid $border-gray-color-opacity;
		padding-top: rem-calc(20);
		margin-top: rem-calc(20);
		text-transform: none;
	}
}

/* CTA component styling(homepage banner) */
.vehicleSelectorCTA {
	position: relative;

	&__panel {
		position: absolute;
		z-index: 31;
		bottom: 0;
		left: 0;
		width: 280px;
		background: $white;
		padding: 20px;
		border-radius: 2px;
		border: 1px solid $border-gray-color-opacity;

		@include breakpoint(small down) {
			position: static;
			width: auto;
			margin: 0 20px;
			@include backgroundNoiseOnlyBottom;
		}

		p {
			font-size: $small-font-size;
			color: $black;
		}

		&__heading {
			font-weight: 900;
			font-family: $proxima-black;
			font-size: 14px;
			text-transform: uppercase;
			color: $blue;
			text-align: center;
			margin-bottom: 20px;
			position: relative;
			cursor: pointer;

			&:after {
				background: url("../../icons/accordionArrow.svg") center center
				no-repeat transparent;
				content: "";
				display: block;
				height: 1em;
				position: absolute;
				right: 0;
				top: 0;
				width: 1em;
				transform: rotate(180deg);
			}
		}
	}
}

.staggered {
	margin: 50px 0;

	.storeDetails {
		max-width: 450px;
	}
}
