/*
	For WheelVisualizer.es6
	Wrapper
	Color Picker 
	Slick / Carousel
*/

//Wraper for whole WheelVisualizer element
.visualizer {
	margin-bottom: rem-calc(50);
	margin-top: rem-calc(30);

	&__canvas {
		//displays the image of the vehicle
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		position: relative;

		&--loading:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: url("../../icons/loading.svg") no-repeat 50% 50%
			rgba(255, 255, 255, 0.4);
			z-index: 3;
		}

		&__image {
			position: relative;
			min-height: 340px;
			width: auto;
			flex-grow: 1;

			img {
				position: absolute;
				height: 100%;
				top: 0;
				right: 100px;
				max-width: none;
			}

			&--error {
				background: url("../../icons/noVehicleSet.svg") no-repeat transparent;
				background-size: contain;
				background-position: -300px 50%;

				img {
					display: none;
				}
			}
		}

		&__aside {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding-right: rem-calc(30);
			padding-bottom: rem-calc(30);
			width: 340px;
		}

		&__info {
			width: 306px;

			.tiny {
				font-size: $small-font-size;
				font-family: $proxima-black;
				color: $black;
			}

			h5 {
				color: $blue;
				font-weight: bold;
				margin-bottom: 0;
			}

			&__cta {
				margin-top: rem-calc(20);
			}
		}
	}

	&__carousel {
		overflow: hidden;
		position: relative;

		.slick-slide {
			display: inline-block;
			width: 144px;
			height: 144px;
			border-radius: 2px;
			background-color: $light-gray;
			padding: 15px;
			cursor: pointer;
			transition: box-shadow 0.5s;
			text-align: center;

			&:hover {
				box-shadow: $box-shadow;
			}

			img {
				max-height: 100%;
				max-width: 100%;
				margin: 0 auto;
			}

			& + li {
				margin-left: rem-calc(20);
			}

			&.active {
				border: 1px solid $light-gray;
				background-color: $white;
				border-bottom: 4px solid $yellow;
			}
		}
	}
	@include breakpoint(small down) {
		position: relative;
		margin-bottom: 0;

		&__canvas {

			&__image {
				width: 100%;
				min-height: auto;
				height: 200px;

				img {
					position: absolute;
					width: auto;
					max-width: none;
					height: 100%;
					left: -160px;
					z-index: -1;
				}
			}

			&__aside {
				padding: 0;
			}

			&__info {
				padding: rem-calc(10) rem-calc(20);
				margin-top: rem-calc(10);
			}
		}

		&__carousel {

			.slick-slide {
				width: 80px;
				height: 80px;
				margin: 0 7px;
			}
		}
	}
}

// Color selector to change the color of the vehicle
.colorSelector {
	position: relative;
	height: 100px;
	margin-bottom: rem-calc(20);

	&__toggle {
		width: 40px;
		height: 40px;
		background: url("../../icons/colorWheel.svg") no-repeat 50% 50% transparent;
		background-size: contain;
	}

	&__panel {
		padding: rem-calc(20);
		background: $white;
		position: absolute;
		right: 0;
		top: 0;
		box-shadow: $box-shadow;

		&__header {
			display: flex;
			align-items: center;
			justify-content: space-between;

			strong {
				color: $black;
			}
			margin-bottom: rem-calc(10);
		}

		&__options {
			white-space: nowrap;

			li {
				display: inline-block;
				width: 52px;
				height: 30px;
				position: relative;

				a {
					display: block;
					width: 100%;
					height: 100%;

					&.white {
						border: 1px solid $light-gray;
					}
				}

				& + li {
					margin-left: 10px;
				}

				&.selected:before {
					content: "";
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					width: 28px;
					height: 28px;
					margin-top: -14px;
					margin-left: -14px;
					border-radius: 50%;
					border: 5px solid transparent;
					background: url("../../icons/confirmationCheck.svg") no-repeat 50% 50%
					rgba(0, 0, 0, 0.4);
					background-size: contain;
					pointer-events: none;
				}
			}
		}
	}
	@include breakpoint(small down) {
		height: auto;
		position: static;
		margin-right: rem-calc(20);

		&__panel {
			left: rem-calc(20);
			right: rem-calc(20);

			&__options {
				white-space: normal;
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				justify-content: center;

				li {
					width: 65px;
					margin-top: 10px;
					padding: 0 5px;

					& + li {
						margin-left: 0;
					}
				}
			}
		}
	}
}

//Carousel that allows the user to scroll through wheels for their vehicle
.slick {

	&-slider {
		position: relative;
		display: block;
		user-select: none;
		touch-action: pan-y;
	}

	&-arrow {
		cursor: pointer;
		border: none;
		outline: 0;
		position: absolute;
		height: 100%;
		left: 0;
		width: 70px;
		padding: 28px;
		background: linear-gradient(
		to right,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 70%,
		rgba(255, 255, 255, 0) 100%
	);

		line-height: 0;
		font-size: 0;
		z-index: 3;

		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			transform: rotate(180deg);
			background: url("../../icons/arrowBlueRight.svg") no-repeat 50% 50%;
		}

		&.slick-next {
			left: auto;
			top: 0;
			right: 0;
			transform: rotate(180deg);
		}

		&.slick-disabled {
			display: none;
		}
	}

	&-list {
		transform: translate3d(0, 0, 0);
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	&-track {
		transform: translate3d(0, 0, 0);
		left: 0;
		top: 0;
		position: relative;
		display: block;
	}

	&-slide {
		display: block;
		float: left;
		height: 100%;
		margin: 0 10px;
		min-height: 1px;
	}
}
