
<section className="nav">
  <section className="nav__top">
    <span> Location of a store here </span>
    <span> sign in button link </span>
  </section>
  <section className="nav__bottom">
    <img src={headerLogo} />
    <nav>
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
        <li>
          <a href="#">Tires</a>
        </li>
        <li>
          <a href="#">Brakes</a>
        </li>
        <li>
          <a href="#">Shop</a>
        </li>
      </ul>
    </nav>
    <span className="nav__bottom__search"> Search (Icon Here) </span>
  </section>
</section>
<div className="banner">
  <section className="banner">
    <img className="banner__image" src={logo2x} />
    <section className="banner__information">
      <h3>Careers</h3>
      <h1>Your Future Starts Here</h1>
      <p>
        Hardworking? Determined? Put yourself on the road to success
        with a career at Les Schwab.
      </p>
    </section>
  </section>
</div>
<div className="wrapper">
  <div className="grid">
    <div className="grid__cell--main large-push-2">
      <h1 className="hero"> Style Guide h1 </h1>
      <h1> Style Guide h1 </h1>
      <h2> Style Guide h2 </h2>
      <h3> Style Guide h3 </h3>
      <h4> Style Guide h4 </h4>
      <h5> Style Guide h5 </h5>
      <h6> Style Guide h6 </h6>

      <p className="paragraph--large">
        At Les Schwab, we like to say we don’t have employees, only
        partners. And we act on that belief by giving half the profit of
        each store to those who work there. If you’re an enthusiastic
        self-starter, you can have a bright future on our team.
      </p>

      <p>
        At Les Schwab, we like to say we don’t have employees, only
        partners. And we act on that belief by giving half the profit of
        each store to those who work there. If you’re an enthusiastic
        self-starter, you can have a bright future on our team.
      </p>

      <p className="paragraph--small">
        At Les Schwab, we like to say we don’t have employees, only
        partners. And we act on that belief by giving half the profit of
        each store to those who work there. If you’re an enthusiastic
        self-starter, you can have a bright future on our team.
      </p>

      <p className="paragraph--tiny">
        At Les Schwab, we like to say we don’t have employees, only
        partners. And we act on that belief by giving half the profit of
        each store to those who work there. If you’re an enthusiastic
        self-starter, you can have a bright future on our team.
      </p>
      <button className="btn btn--large">Large Button</button>
      <button className="btn">Button</button>
      <button className="btn btn--small">Small Button</button>
    </div>
    <div className="grid__cell--secondary large-pul-1">
      <button className="btn btn--gray">Gray Button</button>
      <button className="btn btn--tertiary">Tertiary Button</button>
      <button className="btn btn--flex">Flex Button</button>

      <a href="www.google.com" className="link--blue">
        Link Example
      </a>
      <a href="www.google.com">Link Example</a>
      <a href="www.google.com" className="link--large">
        Link Example
      </a>
      <a href="www.google.com" className="link--small">
        Link Example
      </a>
      <a href="www.google.com" className="link--tiny">
        Link Example
      </a>
      <textarea> </textarea>
      <input type="text" />
      <label>
        <input type="radio" value="Bill Pond" />
        Bill Pond
      </label>
      <div className="checkboxContainer">
        <input type="checkbox" id="checkbox" value="Example checkbox" />
        <label htmlFor="checkbox" />
      </div>
      <label htmlFor="checkbox">Example Checkbox</label>
      <select className="dropdown dropdown--large" name="dropdown">
        <option value="Councils">Councils </option>
        <option value="Property">Property </option>
        <option value="Various">Various </option>
        <option value="Universitys">Universitys </option>
      </select>
      <select className="dropdown" name="dropdown">
        <option value="Councils">Councils </option>
        <option value="Property">Property </option>
        <option value="Various">Various </option>
        <option value="Universitys">Universitys </option>
      </select>
      <select className="dropdown dropdown--small" name="dropdown">
        <option value="Councils">Councils </option>
        <option value="Property">Property </option>
        <option value="Various">Various </option>
        <option value="Universitys">Universitys </option>
      </select>
    </div>
  </div>
</div>